In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cd /Users/marinacamachosanz/Desktop/tfg_BCN-AIM/final/

/Users/marinacamachosanz/Desktop/tfg_BCN-AIM/final

In [3]:
input_31 = pd.read_csv("input_31.tab", delimiter="\t")
input_54 = pd.read_csv("input_54.tab", delimiter="\t")
input_alld = pd.read_csv("input_alld.csv")

In [4]:
exval_31 = pd.read_csv("exval_31.tab", delimiter="\t")
exval_54 = pd.read_csv("exval_54.tab", delimiter="\t")
exval_alld = pd.read_csv("exval_alld.csv")

In [5]:
input_nan = pd.read_csv("input_nan.csv")
exval_nan = pd.read_csv("exval_nan.csv")

In [6]:
input_eids = pd.read_csv("input_nan_eids.csv")
exval_eids = pd.read_csv("extval_nan_eids.csv")

In [7]:
input_eids['f.eid'] =  pd.DataFrame(input_eids['f.eid']).astype(str)

In [8]:
exval_eids['f.eid'] =  pd.DataFrame(exval_eids['f.eid']).astype(str)

In [9]:
input_eids = pd.to_numeric(list(input_eids['f.eid']))

In [10]:
exval_eids = pd.to_numeric(list(exval_eids['f.eid']))

In [11]:
input_nan_l = []
for i in range(0, len(input_nan.values)):
        if input_nan.values[i][0] in input_eids:
            input_nan_l.append(input_nan.values[i])

In [12]:
exval_nan_l = []
for i in range(0, len(exval_nan.values)):
        if exval_nan.values[i][0] in exval_eids:
            exval_nan_l.append(exval_nan.values[i])

In [13]:
input_nan_df = pd.DataFrame(input_nan_l)
input_nan_df[0] = pd.to_numeric(input_nan_df[0]).astype(int)

In [14]:
exval_nan_df = pd.DataFrame(exval_nan_l)
exval_nan_df[0] = pd.to_numeric(exval_nan_df[0]).astype(int)

In [15]:
for x in range(0,len(input_nan.columns)):
    print(str(x)+": '"+str(input_nan.columns[x])+"',")

0: 'f.eid',
1: 'waistcircum',
2: 'hipcircum',
3: 'standingheight',
4: 'bmi',
5: 'weight',
6: 'bodyfatpercent',
7: 'wholebodyfatfreemass',
8: 'wholebodywatermass',
9: 'basalmetabolicrate',
10: 'age',
11: 'townsendeprivation',
12: 'timeinjob',
13: 'lengthworkweek',
14: 'distancehomework',
15: 'jobwalkingstand',
16: 'jobphysical',
17: 'jobshiftwork',
18: 'otherwork',
19: 'employed',
20: 'retired',
21: 'lookingafterhome',
22: 'unabletowork',
23: 'unemployed',
24: 'unpaidwork',
25: 'student',
26: 'agecompleted',
27: 'noeducation',
28: 'university',
29: 'A/AS',
30: 'O/GCSE',
31: 'CSE',
32: 'NVQ/HND/HNC',
33: 'professional',
34: 'sleeplessness',
35: 'daytimedozing',
36: 'napduringday',
37: 'sleepduration',
38: 'currenttobacco',
39: 'pasttobacco',
40: 'frequdrinkingalcohol',
41: 'evertakencannabis',
42: 'everbeeninjuredrinkalcohol',
43: 'everhadknownpersonalcoh',
44: 'alcoholdrinkerstatus',
45: 'usesunprotection',
46: 'facialageing',
47: 'easeofskin',
48: 'timespendsummer',
49: 'timespendswinter',
50: 'hair',
51: 'lengthmobileuse',
52: 'weeklyusemobile',
53: 'differencemobile2years',
54: 'playscomputergames',
55: 'mobilhead',
56: 'cookedvegetable',
57: 'saladintake',
58: 'fruitintake',
59: 'driedfruit',
60: 'breadintake',
61: 'cerealintake',
62: 'teaintake',
63: 'coffeintake',
64: 'waterintake',
65: 'oilyfishintake',
66: 'nonoilyfish',
67: 'processedmeat',
68: 'poultryintake',
69: 'beefintake',
70: 'lambintake',
71: 'porkintake',
72: 'cheeseintake',
73: 'milkused',
74: 'salttofood',
75: 'variationdiet',
76: 'breadtype',
77: 'cerealtype',
78: 'spreadtype',
79: 'dietarychange',
80: 'nonbutterspread',
81: 'coffetype',
82: 'coffeeconsumed',
83: 'teaconsumed',
84: 'alcoholconsumed',
85: 'vitaminsupplementuser',
86: 'trafficintensity',
87: 'closetomajorroad',
88: 'averagedaytimenoisepoll',
89: 'averageeveningnoise',
90: 'childhoodsunburn',
91: 'breastfedbaby',
92: 'bodysizeat10',
93: 'bodyheightat10',
94: 'adoptedaschild',
95: 'partmultiplebirth',
96: 'maternalsmoking',
97: 'handedness',
98: 'someonetakedoctorchild',
99: 'sexuallymolestedchild',
100: 'feltlovedchild',
101: 'physicallyabusedfamiliychild',
102: 'felthatedfamiliychild',
103: 'victimofsexualassault',
104: 'witnessedsuddenviolentdeath',
105: 'victimphysicallyviolentcrime',
106: 'beenseriousaccidentlifethrea',
107: 'abletopaymortgageadult',
108: 'sexualinterferenceadult',
109: 'physicalviolenceadult',
110: 'beenconfidingrelationadult',
111: 'belittlementbypartneradult',
112: 'upsetstressfulpastmonth',
113: 'repeatedisturbingpastmonth',
114: 'avoidstresspasthmonth',
115: 'risktaking',
116: 'freqdepressed',
117: 'seendoctordepress',
118: 'seenpsychiatrist',
119: 'happiness',
120: 'everdepressed',
121: 'perioddepress',
122: 'numberdepressper',
123: 'everdesinteresedweek',
124: 'freqtiredness2weeks',
125: 'freqtensenness2weeks',
126: 'frequnenthusiasm2weeks',
127: 'neuroticismscore',
128: 'bipolarstatus',

In [16]:
var = {0: 'f.eid',
1: 'waistcircum',
2: 'hipcircum',
3: 'standingheight',
4: 'bmi',
5: 'weight',
6: 'bodyfatpercent',
7: 'wholebodyfatfreemass',
8: 'wholebodywatermass',
9: 'basalmetabolicrate',
10: 'age',
11: 'townsendeprivation',
12: 'timeinjob',
13: 'lengthworkweek',
14: 'distancehomework',
15: 'jobwalkingstand',
16: 'jobphysical',
17: 'jobshiftwork',
18: 'otherwork',
19: 'employed',
20: 'retired',
21: 'lookingafterhome',
22: 'unabletowork',
23: 'unemployed',
24: 'unpaidwork',
25: 'student',
26: 'agecompleted',
27: 'noeducation',
28: 'university',
29: 'A/AS',
30: 'O/GCSE',
31: 'CSE',
32: 'NVQ/HND/HNC',
33: 'professional',
34: 'sleeplessness',
35: 'daytimedozing',
36: 'napduringday',
37: 'sleepduration',
38: 'currenttobacco',
39: 'pasttobacco',
40: 'frequdrinkingalcohol',
41: 'evertakencannabis',
42: 'everbeeninjuredrinkalcohol',
43: 'everhadknownpersonalcoh',
44: 'alcoholdrinkerstatus',
45: 'usesunprotection',
46: 'facialageing',
47: 'easeofskin',
48: 'timespendsummer',
49: 'timespendswinter',
50: 'hair',
51: 'lengthmobileuse',
52: 'weeklyusemobile',
53: 'differencemobile2years',
54: 'playscomputergames',
55: 'mobilhead',
56: 'cookedvegetable',
57: 'saladintake',
58: 'fruitintake',
59: 'driedfruit',
60: 'breadintake',
61: 'cerealintake',
62: 'teaintake',
63: 'coffeintake',
64: 'waterintake',
65: 'oilyfishintake',
66: 'nonoilyfish',
67: 'processedmeat',
68: 'poultryintake',
69: 'beefintake',
70: 'lambintake',
71: 'porkintake',
72: 'cheeseintake',
73: 'milkused',
74: 'salttofood',
75: 'variationdiet',
76: 'breadtype',
77: 'cerealtype',
78: 'spreadtype',
79: 'dietarychange',
80: 'nonbutterspread',
81: 'coffetype',
82: 'coffeeconsumed',
83: 'teaconsumed',
84: 'alcoholconsumed',
85: 'vitaminsupplementuser',
86: 'trafficintensity',
87: 'closetomajorroad',
88: 'averagedaytimenoisepoll',
89: 'averageeveningnoise',
90: 'childhoodsunburn',
91: 'breastfedbaby',
92: 'bodysizeat10',
93: 'bodyheightat10',
94: 'adoptedaschild',
95: 'partmultiplebirth',
96: 'maternalsmoking',
97: 'handedness',
98: 'someonetakedoctorchild',
99: 'sexuallymolestedchild',
100: 'feltlovedchild',
101: 'physicallyabusedfamiliychild',
102: 'felthatedfamiliychild',
103: 'victimofsexualassault',
104: 'witnessedsuddenviolentdeath',
105: 'victimphysicallyviolentcrime',
106: 'beenseriousaccidentlifethrea',
107: 'abletopaymortgageadult',
108: 'sexualinterferenceadult',
109: 'physicalviolenceadult',
110: 'beenconfidingrelationadult',
111: 'belittlementbypartneradult',
112: 'upsetstressfulpastmonth',
113: 'repeatedisturbingpastmonth',
114: 'avoidstresspasthmonth',
115: 'risktaking',
116: 'freqdepressed',
117: 'seendoctordepress',
118: 'seenpsychiatrist',
119: 'happiness',
120: 'everdepressed',
121: 'perioddepress',
122: 'numberdepressper',
123: 'everdesinteresedweek',
124: 'freqtiredness2weeks',
125: 'freqtensenness2weeks',
126: 'frequnenthusiasm2weeks',
127: 'neuroticismscore',
128: 'bipolarstatus'}
input_nan_df = input_nan_df.rename(columns = var)
exval_nan_df = exval_nan_df.rename(columns = var)

In [17]:
input_nan_df = input_nan_df.sort_values(['f.eid'], axis=0,ascending=[True])
input_nan_df = input_nan_df.reset_index()
del input_nan_df["index"]

In [18]:
exval_nan_df = exval_nan_df.sort_values(['f.eid'], axis=0,ascending=[True])
exval_nan_df = exval_nan_df.reset_index()
del exval_nan_df["index"]

In [19]:
input_31 = input_31.sort_values(['f.eid'], axis=0,ascending=[True])
input_31 = input_31.reset_index()
del input_31["index"]

In [20]:
exval_31 = exval_31.sort_values(['f.eid'], axis=0,ascending=[True])
exval_31 = exval_31.reset_index()
del exval_31["index"]

In [21]:
input_54 = input_54.sort_values(['f.eid'], axis=0,ascending=[True])
input_54 = input_54.reset_index()
del input_54["index"]

In [22]:
exval_54 = exval_54.sort_values(['f.eid'], axis=0,ascending=[True])
exval_54 = exval_54.reset_index()
del exval_54["index"]

In [23]:
input_alld = input_alld.sort_values(['f.eid'], axis=0,ascending=[True])
input_alld = input_alld.reset_index()
del input_alld["index"]

In [24]:
exval_alld = exval_alld.sort_values(['f.eid'], axis=0,ascending=[True])
exval_alld = exval_alld.reset_index()
del exval_alld["index"]

In [25]:
input_nan_df['sex'] = input_31['f.31.0.0']

In [26]:
exval_nan_df['sex'] = exval_31['f.31.0.0']

In [27]:
input_nan_df = input_nan_df.dropna(axis=1, thresh=int(round(input_nan_df.shape[0]*80/100)))

In [28]:
input_nan_df['center'] = input_54['f.54.0.0']

In [29]:
exval_nan_df['center'] = exval_54['f.54.0.0']

In [54]:
input_alld_eids = pd.to_numeric(list(input_alld['f.eid']))

input_alld['AD'] = input_alld['AD'].astype(str)
input_ad_eids = input_alld[input_alld['AD'].str.contains('1')==True]
input_ad_eids = pd.to_numeric(list(input_ad_eids['f.eid']))

input_alld['VD'] = input_alld['VD'].astype(str)
input_vd_eids = input_alld[input_alld['VD'].str.contains('1')==True]
input_vd_eids = pd.to_numeric(list(input_vd_eids['f.eid']))

input_alld['FTD'] = input_alld['FTD'].astype(str)
input_ftd_eids = input_alld[input_alld['FTD'].str.contains('1')==True]
input_ftd_eids = pd.to_numeric(list(input_ftd_eids['f.eid']))

input_alld['OD'] = input_alld['OD'].astype(str)
input_od_eids = input_alld[input_alld['OD'].str.contains('1')==True]
input_od_eids = pd.to_numeric(list(input_od_eids['f.eid']))

In [55]:
input_alld_l = []
input_ad_l = []
input_vd_l = []
input_ftd_l = []
input_od_l = []


for i in range(0, len(input_nan_df.values)):
    if int(input_nan_df.values[i][0]) in input_alld_eids:
        input_alld_l.append(int(1))
    else:
        input_alld_l.append(int(0))

    if int(input_nan_df.values[i][0]) in input_ad_eids:
        input_ad_l.append(int(1))
    else:
        input_ad_l.append(int(0)) 
        
    if int(input_nan_df.values[i][0]) in input_vd_eids:
        input_vd_l.append(int(1))
    else:
        input_vd_l.append(int(0))
    
    if int(input_nan_df.values[i][0]) in input_ftd_eids:
        input_ftd_l.append(int(1))
    else:
        input_ftd_l.append(int(0))
        
    if int(input_nan_df.values[i][0]) in input_od_eids:
        input_od_l.append(int(1))
    else:
        input_od_l.append(int(0))

In [56]:
exval_alld_eids = pd.to_numeric(list(exval_alld['f.eid']))

exval_alld['AD'] = exval_alld['AD'].astype(str)
exval_ad_eids = exval_alld[exval_alld['AD'].str.contains('1')==True]
exval_ad_eids = pd.to_numeric(list(exval_ad_eids['f.eid']))

exval_alld['VD'] = exval_alld['VD'].astype(str)
exval_vd_eids = exval_alld[exval_alld['VD'].str.contains('1')==True]
exval_vd_eids = pd.to_numeric(list(exval_vd_eids['f.eid']))

exval_alld['FTD'] = exval_alld['FTD'].astype(str)
exval_ftd_eids = exval_alld[exval_alld['FTD'].str.contains('1')==True]
exval_ftd_eids = pd.to_numeric(list(exval_ftd_eids['f.eid']))

exval_alld['OD'] = exval_alld['OD'].astype(str)
exval_od_eids = exval_alld[exval_alld['OD'].str.contains('1')==True]
exval_od_eids = pd.to_numeric(list(exval_od_eids['f.eid']))

In [57]:
exval_alld_l = []
exval_ad_l = []
exval_vd_l = []
exval_ftd_l = []
exval_od_l = []


for i in range(0, len(exval_nan_df.values)):
    if int(exval_nan_df.values[i][0]) in exval_alld_eids:
        exval_alld_l.append(int(1))
    else:
        exval_alld_l.append(int(0))

    if int(exval_nan_df.values[i][0]) in exval_ad_eids:
        exval_ad_l.append(int(1))
    else:
        exval_ad_l.append(int(0)) 
        
    if int(exval_nan_df.values[i][0]) in exval_vd_eids:
        exval_vd_l.append(int(1))
    else:
        exval_vd_l.append(int(0))
    
    if int(exval_nan_df.values[i][0]) in exval_ftd_eids:
        exval_ftd_l.append(int(1))
    else:
        exval_ftd_l.append(int(0))
        
    if int(exval_nan_df.values[i][0]) in exval_od_eids:
        exval_od_l.append(int(1))
    else:
        exval_od_l.append(int(0))

In [59]:
len(input_alld_l),len(input_ad_l),len(input_vd_l),len(input_ftd_l),len(input_od_l)

(2740, 2740, 2740, 2740, 2740)

In [60]:
len(exval_alld_l),len(exval_ad_l),len(exval_vd_l),len(exval_ftd_l),len(exval_od_l)

(306, 306, 306, 306, 306)

In [61]:
input_nan_df['AD'] =  input_ad_l
input_nan_df['VD'] =  input_vd_l
input_nan_df['FTD'] =  input_ftd_l
input_nan_df['OD'] =  input_od_l

In [62]:
exval_nan_df['AD'] =  exval_ad_l
exval_nan_df['VD'] =  exval_vd_l
exval_nan_df['FTD'] =  exval_ftd_l
exval_nan_df['OD'] =  exval_od_l

In [63]:
input_nan_df['Y'] =  input_alld_l

In [64]:
exval_nan_df['Y'] =  exval_alld_l

In [46]:
input_nan_df.to_csv(r'input_nan_df.csv', index = False, header=True)
exval_nan_df.to_csv(r'exval_nan_df.csv', index = False, header=True)

In [65]:
del input_nan_df['center']
del input_nan_df['AD']
del input_nan_df['VD']
del input_nan_df['FTD']
del input_nan_df['OD']

In [66]:
del exval_nan_df['center']
del exval_nan_df['AD']
del exval_nan_df['VD']
del exval_nan_df['FTD']
del exval_nan_df['OD']

In [67]:
input_nan_df['Y'] = input_nan_df['Y'].astype(str)
exval_nan_df['Y'] = exval_nan_df['Y'].astype(str)

In [68]:
input_nan_df_c = input_nan_df[input_nan_df['Y'].str.contains('1')==False]
input_nan_df_t = input_nan_df[input_nan_df['Y'].str.contains('1')==True]
exval_nan_df_c = exval_nan_df[exval_nan_df['Y'].str.contains('1')==False]
exval_nan_df_t = exval_nan_df[exval_nan_df['Y'].str.contains('1')==True]

In [69]:
input_nan_df_c_y = input_nan_df_c['Y']
input_nan_df_t_y = input_nan_df_t['Y']
exval_nan_df_c_y = exval_nan_df_c['Y']
exval_nan_df_t_y = exval_nan_df_t['Y']

input_nan_df_c_f = input_nan_df_c['f.eid']
input_nan_df_t_f = input_nan_df_t['f.eid']
exval_nan_df_c_f = exval_nan_df_c['f.eid']
exval_nan_df_t_f = exval_nan_df_t['f.eid']

In [70]:
del input_nan_df_c['Y']
del input_nan_df_t['Y']
del exval_nan_df_c['Y']
del exval_nan_df_t['Y']

del input_nan_df_c['f.eid']
del input_nan_df_t['f.eid']
del exval_nan_df_c['f.eid']
del exval_nan_df_t['f.eid']

In [71]:
for x in exval_nan_df_c.columns:
    if x not in input_nan_df_c.columns:
        del exval_nan_df_t[str(x)]
        del exval_nan_df_c[str(x)]

In [54]:
input_nan_df_c.to_csv(r'input_nan_df_c_80.csv', index = False, header=True)
input_nan_df_t.to_csv(r'input_nan_df_t_80.csv', index = False, header=True)
exval_nan_df_c.to_csv(r'exval_nan_df_c_80.csv', index = False, header=True)
exval_nan_df_t.to_csv(r'exval_nan_df_t_80.csv', index = False, header=True)

In [72]:
input_nan_df_c.shape,input_nan_df_t.shape,exval_nan_df_c.shape,exval_nan_df_t.shape

((1370, 77), (1370, 77), (153, 77), (153, 77))

In [73]:
input_nan_df_c

,waistcircum,hipcircum,standingheight,bmi,weight,bodyfatpercent,wholebodywatermass,basalmetabolicrate,age,townsendeprivation,...,maternalsmoking,handedness,risktaking,freqdepressed,seendoctordepress,seenpsychiatrist,freqtiredness2weeks,freqtensenness2weeks,frequnenthusiasm2weeks,sex
0,85.0,100.0,163.0,25.2550,67.1,34.5,32.2,5494.0,1942.0,-2.197620,...,NaN,2.0,0.0,1.0,1.0,0.0,2.0,1.0,1.0,0
1,74.0,100.0,167.0,26.3545,73.5,37.6,33.6,5770.0,1944.0,0.311303,...,0.0,2.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,0
2,87.0,110.0,157.0,32.2528,79.5,38.7,35.7,6146.0,1947.0,-5.090660,...,0.0,1.0,0.0,1.0,0.0,0.0,2.0,1.0,1.0,0
4,92.0,95.0,172.0,25.6558,75.9,22.2,43.3,7096.0,1942.0,-2.574880,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
5,105.0,99.0,172.0,29.9824,88.7,31.8,44.3,7448.0,1946.0,-0.809655,...,NaN,1.0,NaN,1.0,1.0,0.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,NaN,NaN,NaN,NaN,NaN,28.6,NaN,NaN,1943.0,4.568760,...,0.0,1.0,0.0,4.0,1.0,0.0,4.0,1.0,4.0,0
1720,75.0,97.0,178.0,21.4935,68.1,20.8,42.6,6883.0,1943.0,-4.260640,...,NaN,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
1722,84.0,92.0,172.0,20.3150,60.1,52.9,37.6,6075.0,1944.0,-2.280690,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
1723,74.0,98.0,167.0,22.2668,62.1,32.6,30.7,5238.0,1946.0,-3.595500,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0
1724,93.0,108.0,169.0,26.7498,76.4,22.3,34.9,5991.0,1945.0,-1.760200,...,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0

In [74]:
input_nan_df_t

,waistcircum,hipcircum,standingheight,bmi,weight,bodyfatpercent,wholebodywatermass,basalmetabolicrate,age,townsendeprivation,...,maternalsmoking,handedness,risktaking,freqdepressed,seendoctordepress,seenpsychiatrist,freqtiredness2weeks,freqtensenness2weeks,frequnenthusiasm2weeks,sex
3,100.0,100.0,170.0,26.9896,78.0,27.2,41.6,6895.0,1942.0,-3.47233,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
12,97.0,112.0,163.0,26.4218,70.2,20.2,28.1,5029.0,1936.0,1.63062,...,NaN,1.0,0.0,3.0,1.0,0.0,NaN,2.0,1.0,0
14,81.0,99.0,170.0,25.1211,72.6,33.8,43.7,6996.0,1946.0,-5.28494,...,1.0,3.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1
16,87.0,106.0,156.0,27.8189,67.7,38.4,30.8,5335.0,1944.0,-2.03549,...,1.0,1.0,0.0,1.0,0.0,0.0,2.0,1.0,1.0,0
17,111.0,99.0,174.0,30.4201,92.1,19.9,46.0,7757.0,1947.0,1.70255,...,0.0,2.0,1.0,2.0,0.0,1.0,1.0,2.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2735,107.0,112.0,177.0,26.5569,83.2,26.9,44.4,7385.0,1944.0,4.44126,...,0.0,1.0,0.0,1.0,1.0,1.0,NaN,NaN,1.0,1
2736,107.0,109.0,188.0,27.6143,97.6,43.9,55.9,9301.0,1942.0,-1.63365,...,0.0,1.0,0.0,1.0,NaN,0.0,2.0,NaN,1.0,1
2737,109.0,121.0,181.0,34.4617,112.9,29.6,54.6,9355.0,1947.0,-2.33770,...,NaN,2.0,0.0,4.0,1.0,0.0,2.0,NaN,2.0,1
2738,105.3,120.1,173.8,32.0130,96.7,30.4,45.3,7715.0,1943.0,2.32588,...,NaN,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,1
2739,83.0,101.0,175.0,22.3020,68.3,28.1,37.8,6226.0,1941.0,1.25030,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1

In [75]:
exval_nan_df_c

,waistcircum,hipcircum,standingheight,bmi,weight,bodyfatpercent,wholebodywatermass,basalmetabolicrate,age,townsendeprivation,...,maternalsmoking,handedness,risktaking,freqdepressed,seendoctordepress,seenpsychiatrist,freqtiredness2weeks,freqtensenness2weeks,frequnenthusiasm2weeks,sex
0,99.0,99.0,172.0,27.5487,81.5,25.8,44.4,7343.0,1944.0,-0.719086,...,0.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
1,89.0,99.0,170.0,23.8062,68.8,45.0,38.7,6355.0,1942.0,-3.578710,...,0.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1
2,80.0,94.0,155.0,26.3476,63.3,28.4,31.9,5406.0,1945.0,-4.005510,...,0.0,1.0,0.0,1.0,0.0,0.0,2.0,1.0,1.0,0
3,96.0,107.0,180.0,25.6790,83.2,25.2,46.5,7678.0,1942.0,-3.452680,...,0.0,1.0,0.0,1.0,0.0,0.0,2.0,1.0,1.0,1
4,72.0,95.0,167.0,22.3386,62.3,26.1,34.2,5678.0,1946.0,-4.301000,...,NaN,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,86.0,102.0,179.0,24.6871,79.1,37.0,45.4,7456.0,1946.0,-3.578330,...,NaN,2.0,0.0,1.0,0.0,0.0,1.0,2.0,1.0,1
190,97.0,103.0,184.0,25.4608,86.2,31.3,47.7,7883.0,1942.0,-5.800020,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
191,83.0,108.0,169.0,27.2049,77.7,28.6,34.3,5920.0,1946.0,-4.848140,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0
192,88.0,102.0,172.0,24.7431,73.2,39.6,40.5,6682.0,1946.0,-1.493040,...,0.0,1.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,1
193,76.0,102.0,162.0,25.1105,65.9,31.5,30.7,5305.0,1946.0,-0.778359,...,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0

In [76]:
exval_nan_df_t

,waistcircum,hipcircum,standingheight,bmi,weight,bodyfatpercent,wholebodywatermass,basalmetabolicrate,age,townsendeprivation,...,maternalsmoking,handedness,risktaking,freqdepressed,seendoctordepress,seenpsychiatrist,freqtiredness2weeks,freqtensenness2weeks,frequnenthusiasm2weeks,sex
5,85.0,100.0,187.0,20.2751,70.9,30.5,41.7,6795.0,1937.0,-3.67786,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
9,99.0,103.0,175.0,27.7551,85.0,32.4,NaN,NaN,1940.0,-4.19052,...,NaN,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
17,107.0,108.0,155.0,34.8387,83.7,29.5,31.4,5648.0,1944.0,6.65362,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0
20,93.0,94.0,174.0,24.8712,75.3,38.9,41.4,6820.0,1941.0,2.06269,...,0.0,2.0,1.0,2.0,1.0,0.0,1.0,2.0,1.0,1
25,96.0,105.0,172.0,26.8050,79.3,29.5,44.8,7360.0,1938.0,-3.90914,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,99.0,105.0,172.0,30.7937,91.1,20.0,46.8,7841.0,1942.0,6.28985,...,0.0,2.0,0.0,1.0,0.0,0.0,2.0,2.0,NaN,1
302,108.0,100.0,185.0,28.6633,98.1,38.0,51.8,8724.0,1940.0,3.05445,...,0.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,3.0,1
303,98.0,107.0,174.0,27.2493,82.5,43.0,42.6,7109.0,1938.0,-5.47174,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1
304,113.0,108.0,174.0,30.7504,93.1,34.5,46.8,7874.0,1941.0,3.39357,...,0.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1
305,105.0,100.0,173.0,25.2598,75.6,17.6,38.8,6473.0,1938.0,-2.16671,...,0.0,2.0,0.0,NaN,0.0,0.0,3.0,3.0,NaN,1

In [220]:
input_df_c_80 = pd.read_csv("input_df_c_80.csv")
input_df_t_80 = pd.read_csv("input_df_t_80.csv")
exval_df_c_80 = pd.read_csv("exval_df_c_80.csv")
exval_df_t_80 = pd.read_csv("exval_df_t_80.csv")

In [221]:
del input_df_c_80['Unnamed: 0']
del input_df_t_80['Unnamed: 0']
del exval_df_c_80['Unnamed: 0']
del exval_df_t_80['Unnamed: 0']

In [222]:
input_nan_df_c_f = pd.DataFrame(input_nan_df_c_f)
input_nan_df_t_f = pd.DataFrame(input_nan_df_t_f)
exval_nan_df_c_f = pd.DataFrame(exval_nan_df_c_f)
exval_nan_df_t_f = pd.DataFrame(exval_nan_df_t_f)

input_nan_df_c_y = pd.DataFrame(input_nan_df_c_y)
input_nan_df_t_y = pd.DataFrame(input_nan_df_t_y)
exval_nan_df_c_y = pd.DataFrame(exval_nan_df_c_y)
exval_nan_df_t_y = pd.DataFrame(exval_nan_df_t_y)

In [223]:
input_nan_df_c_f = input_nan_df_c_f.reset_index()
del input_nan_df_c_f["index"]
input_nan_df_t_f = input_nan_df_t_f.reset_index()
del input_nan_df_t_f["index"]
exval_nan_df_c_f = exval_nan_df_c_f.reset_index()
del exval_nan_df_c_f["index"]
exval_nan_df_t_f = exval_nan_df_t_f.reset_index()
del exval_nan_df_t_f["index"]

input_nan_df_c_y = input_nan_df_c_y.reset_index()
del input_nan_df_c_y["index"]
input_nan_df_t_y = input_nan_df_t_y.reset_index()
del input_nan_df_t_y["index"]
exval_nan_df_c_y = exval_nan_df_c_y.reset_index()
del exval_nan_df_c_y["index"]
exval_nan_df_t_y = exval_nan_df_t_y.reset_index()
del exval_nan_df_t_y["index"]

In [224]:
input_df_c_80['f.eid'] = pd.DataFrame(input_nan_df_c_f)
input_df_t_80['f.eid'] = pd.DataFrame(input_nan_df_t_f)
exval_df_c_80['f.eid'] = pd.DataFrame(exval_nan_df_c_f)
exval_df_t_80['f.eid'] = pd.DataFrame(exval_nan_df_t_f)

input_df_c_80['Y'] = pd.DataFrame(input_nan_df_c_y)
input_df_t_80['Y'] = pd.DataFrame(input_nan_df_t_y)
exval_df_c_80['Y'] = pd.DataFrame(exval_nan_df_c_y)
exval_df_t_80['Y'] = pd.DataFrame(exval_nan_df_t_y)

In [225]:
input_df_c_80.shape, input_df_t_80.shape

((1370, 79), (1370, 79))

In [241]:
input_df_ct_80 = pd.DataFrame()
input_df_ct_80 = pd.concat([input_df_c_80, input_df_t_80], axis = 0)

In [242]:
exval_df_ct_80 = pd.DataFrame()
exval_df_ct_80 = pd.concat([exval_df_c_80, exval_df_t_80], axis = 0)

In [243]:
exval_df_ct_80.to_csv(r'exval_df_ct_80.csv', index = False, header=True)

In [244]:
input_df_ct_80.to_csv(r'input_df_ct_80.csv', index = False, header=True)

In [272]:
# MULTICLASS

In [334]:
input_df_ct_80 = input_df_ct_80.sort_values(['f.eid'], axis=0,ascending=[True])
input_df_ct_80 = input_df_ct_80.reset_index()
del input_df_ct_80["index"]

In [335]:
input_df_ct_80['Y'].value_counts()

1    1370
0    1370
Name: Y, dtype: int64

In [336]:
input_df_ct_80['AD'] = pd.DataFrame(input_ad_l)[0]
input_df_ct_80['VD'] = pd.DataFrame(input_vd_l)[0]
input_df_ct_80['FTD'] = pd.DataFrame(input_ftd_l)[0]
input_df_ct_80['OD'] = pd.DataFrame(input_od_l)[0]

In [337]:
input_df_ct_80['Y'].value_counts()

1    1370
0    1370
Name: Y, dtype: int64

In [338]:
input_df_ct_80['AD'] =  pd.DataFrame(input_df_ct_80['AD']).astype(str)
input_df_ct_80['VD'] =  pd.DataFrame(input_df_ct_80['VD']).astype(str)
input_df_ct_80['FTD'] =  pd.DataFrame(input_df_ct_80['FTD']).astype(str)
input_df_ct_80['OD'] =  pd.DataFrame(input_df_ct_80['OD']).astype(str)
input_df_ct_80['Y'] =  pd.DataFrame(input_df_ct_80['Y']).astype(str)

In [339]:
input_df_ct_80['Y'].value_counts()

1    1370
0    1370
Name: Y, dtype: int64

In [340]:
input_df_ct_80_ad = input_df_ct_80[input_df_ct_80['AD'].str.contains('1')==True] 
input_df_ct_80_vd = input_df_ct_80[input_df_ct_80['VD'].str.contains('1')==True]
input_df_ct_80_ftd = input_df_ct_80[input_df_ct_80['FTD'].str.contains('1')==True]
input_df_ct_80_od = input_df_ct_80[input_df_ct_80['OD'].str.contains('1')==True]
input_df_ct_80_h = input_df_ct_80[input_df_ct_80['Y'].str.contains('0')==True]

In [341]:
len(input_df_ct_80_ad), len(input_df_ct_80_vd), len(input_df_ct_80_ftd), len(input_df_ct_80_od), len(input_df_ct_80_h)

(670, 329, 66, 305, 1370)

In [342]:
input_df_ct_80_multi_od = pd.DataFrame()
input_df_ct_80_multi_od  = pd.concat([input_df_ct_80_multi_od, input_df_ct_80_vd], axis = 0)
input_df_ct_80_multi_od  = pd.concat([input_df_ct_80_multi_od, input_df_ct_80_ftd], axis = 0)
input_df_ct_80_multi_od  = pd.concat([input_df_ct_80_multi_od, input_df_ct_80_od], axis = 0)

In [351]:
input_df_ct_80_ad_670 = input_df_ct_80_ad.head(670)
input_df_ct_80_od_670 = input_df_ct_80_multi_od.head(670)
input_df_ct_80_h_670 = input_df_ct_80_h.head(670)

In [352]:
input_df_ct_80_ad_670 = input_df_ct_80_ad_670.reset_index()
del input_df_ct_80_ad_670["index"]
input_df_ct_80_od_670 = input_df_ct_80_od_670.reset_index()
del input_df_ct_80_od_670["index"]
input_df_ct_80_h_670 = input_df_ct_80_h_670.reset_index()
del input_df_ct_80_h_670["index"]

In [353]:
input_df_ct_80_multi_ad_od_h = pd.DataFrame()
input_df_ct_80_multi_ad_od_h = pd.concat([input_df_ct_80_multi_ad_od_h, input_df_ct_80_ad_670], axis = 0)
input_df_ct_80_multi_ad_od_h = pd.concat([input_df_ct_80_multi_ad_od_h, input_df_ct_80_od_670], axis = 0)
input_df_ct_80_multi_ad_od_h = pd.concat([input_df_ct_80_multi_ad_od_h, input_df_ct_80_h_670], axis = 0)

In [354]:
input_df_ct_80_multi_ad_od_h.shape

(2010, 83)

In [356]:
input_df_ct_80_multi_ad_od_h_l = []

for i in range(0, len(input_df_ct_80_multi_ad_od_h.values)):
    if str(input_df_ct_80_multi_ad_od_h.values[i][82]) == '1':
        input_df_ct_80_multi_ad_od_h_l.append(int(2))
    elif str(input_df_ct_80_multi_ad_od_h.values[i][81]) == '1':
        input_df_ct_80_multi_ad_od_h_l.append(int(2))
    elif str(input_df_ct_80_multi_ad_od_h.values[i][80]) == '1':
        input_df_ct_80_multi_ad_od_h_l.append(int(2))
    elif str(input_df_ct_80_multi_ad_od_h.values[i][79]) == '1':
        input_df_ct_80_multi_ad_od_h_l.append(int(1))
        
    else: input_df_ct_80_multi_ad_od_h_l.append(int(0))

In [359]:
count=0
for x in input_df_ct_80_multi_ad_od_h_l:
    if str(x) == '2': count+=1
count

670

In [361]:
del input_df_ct_80_multi_ad_od_h['Y']
del input_df_ct_80_multi_ad_od_h['AD']
del input_df_ct_80_multi_ad_od_h['VD']
del input_df_ct_80_multi_ad_od_h['FTD']
del input_df_ct_80_multi_ad_od_h['OD']
input_df_ct_80_multi_ad_od_h['Y'] = input_df_ct_80_multi_ad_od_h_l

In [362]:
input_df_ct_80_multi_ad_od_h.to_csv(r'input_df_ct_80_multi_ad_od_h.csv', index = False, header=True)

In [363]:
input_df_ct_80_multi_ad_od_h

,waistcircum,hipcircum,standingheight,bmi,weight,bodyfatpercent,wholebodywatermass,basalmetabolicrate,age,townsendeprivation,...,risktaking,freqdepressed,seendoctordepress,seenpsychiatrist,freqtiredness2weeks,freqtensenness2weeks,frequnenthusiasm2weeks,sex,f.eid,Y
0,97.0,112.0,163.0,26.4218,70.2,20.2,28.1,5029.0,1936,1.630620,...,0.0,3.0,1.0,0.0,2.7,2.0,1.0,0,1010250,1
1,87.0,106.0,156.0,27.8189,67.7,38.4,30.8,5335.0,1944,-2.035490,...,0.0,1.0,0.0,0.0,2.0,1.0,1.0,0,1012610,1
2,105.0,108.0,166.5,30.1563,83.6,31.0,43.2,7226.0,1949,3.683960,...,0.0,2.0,1.0,0.0,4.0,1.0,2.0,1,1014468,1
3,66.0,94.0,150.0,21.5111,48.4,27.1,20.8,3853.0,1943,7.191380,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0,1018684,1
4,91.0,103.0,158.0,27.8000,69.4,26.0,31.3,5414.0,1944,-4.780620,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0,1020778,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,93.0,111.0,164.0,29.9301,80.5,33.0,32.4,5703.0,1939,-4.671270,...,0.0,1.0,0.0,0.0,1.0,2.0,1.0,0,1678088,0
666,69.0,92.0,165.0,19.8714,54.1,22.8,30.5,5088.0,1946,-2.382450,...,0.0,1.0,1.0,0.0,2.0,1.0,1.0,0,1679790,0
667,93.0,98.0,173.0,23.6226,70.7,29.3,42.2,6870.0,1942,-3.127360,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1,1681066,0
668,98.0,105.0,175.0,27.2980,83.6,21.2,43.2,7209.0,1944,-1.007210,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1,1681790,0
669,95.0,104.0,173.0,24.5247,73.4,30.6,41.6,6820.0,1942,0.008257,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1682339,0

In [252]:
input_df_ct_80_ad = input_df_ct_80_ad.head(28)
input_df_ct_80_vd = input_df_ct_80_vd.head(28)
input_df_ct_80_ftd = input_df_ct_80_ftd.head(28)
input_df_ct_80_od = input_df_ct_80_od.head(28)
input_df_ct_80_h = input_df_ct_80_h.head(28)

In [253]:
input_df_ct_80_ad = input_df_ct_80_ad.reset_index()
del input_df_ct_80_ad["index"]
input_df_ct_80_vd = input_df_ct_80_vd.reset_index()
del input_df_ct_80_vd["index"]
input_df_ct_80_ftd = input_df_ct_80_ftd.reset_index()
del input_df_ct_80_ftd["index"]
input_df_ct_80_od = input_df_ct_80_od.reset_index()
del input_df_ct_80_od["index"]
input_df_ct_80_h = input_df_ct_80_h.reset_index()
del input_df_ct_80_h["index"]

In [183]:
input_df_ct_80_multi = pd.DataFrame()
input_df_ct_80_multi = pd.concat([input_df_ct_80_multi, input_df_ct_80_ad], axis = 0)
input_df_ct_80_multi = pd.concat([input_df_ct_80_multi, input_df_ct_80_vd], axis = 0)
input_df_ct_80_multi = pd.concat([input_df_ct_80_multi, input_df_ct_80_ftd], axis = 0)
input_df_ct_80_multi = pd.concat([input_df_ct_80_multi, input_df_ct_80_od], axis = 0)
input_df_ct_80_multi = pd.concat([input_df_ct_80_multi, input_df_ct_80_h], axis = 0)

In [255]:
input_df_ct_80_multi.shape

(140, 83)

In [257]:
input_multi_l = []

for i in range(0, len(input_df_ct_80_multi.values)):
    if str(input_df_ct_80_multi.values[i][82]) == '1':
        input_multi_l.append(int(1))
    elif str(input_df_ct_80_multi.values[i][81]) == '1':
        input_multi_l.append(int(2))
    elif str(input_df_ct_80_multi.values[i][80]) == '1':
        input_multi_l.append(int(3))
    elif str(input_df_ct_80_multi.values[i][79]) == '1':
        input_multi_l.append(int(4))
    else: input_multi_l.append(int(0))

In [258]:
len(input_multi_l)

140

In [263]:
count=0
for x in input_multi_l:
    if str(x) == '4': count+=1
count

28

In [266]:
len(input_multi_l)

140

In [268]:
del input_df_ct_80_multi['Y']
del input_df_ct_80_multi['AD']
del input_df_ct_80_multi['VD']
del input_df_ct_80_multi['FTD']
del input_df_ct_80_multi['OD']
input_df_ct_80_multi['Y'] = input_multi_l

In [269]:
input_df_ct_80_multi

,waistcircum,hipcircum,standingheight,bmi,weight,bodyfatpercent,wholebodywatermass,basalmetabolicrate,age,townsendeprivation,...,risktaking,freqdepressed,seendoctordepress,seenpsychiatrist,freqtiredness2weeks,freqtensenness2weeks,frequnenthusiasm2weeks,sex,f.eid,Y
0,84.0,113.0,164.0,26.3608,70.9,32.6,30.2,5297.0,1941,1.227770,...,1.0,1.00,0.0,0.0,1.0,1.00,1.0,0,1012489,4
1,84.0,99.0,167.0,24.2031,67.5,24.4,32.6,5556.0,1946,-2.783080,...,0.0,1.00,0.0,0.0,1.0,1.00,1.0,0,1018204,4
2,82.0,101.0,168.0,23.1718,65.4,33.4,33.0,5573.0,1945,-3.477070,...,0.0,1.00,0.0,0.0,1.0,1.00,1.0,0,1021513,4
3,96.0,106.0,178.0,27.3008,86.5,35.6,47.7,7895.0,1945,-4.071720,...,0.0,1.00,0.0,0.0,1.0,1.00,1.0,1,1030859,4
4,88.0,107.0,158.0,29.0018,72.4,43.1,32.2,5581.0,1946,-3.375240,...,0.0,1.00,1.0,0.0,1.0,1.00,1.0,0,1031794,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,85.0,99.0,169.0,25.3142,72.3,25.6,44.1,7146.0,1943,-5.000890,...,0.0,1.02,1.0,0.0,1.0,1.11,1.0,1,1046614,0
24,94.0,101.0,172.0,26.4670,78.3,18.5,44.7,7339.0,1943,-0.810958,...,0.0,1.00,1.0,1.0,1.0,1.00,1.0,1,1048925,0
25,96.0,104.0,184.0,25.9038,87.7,49.2,48.5,8033.0,1943,-4.183000,...,0.0,1.00,0.0,0.0,1.0,1.00,1.0,1,1049656,0
26,86.0,97.0,176.0,26.8595,83.2,37.7,47.4,7803.0,1946,0.164871,...,0.0,1.00,0.0,0.0,1.0,1.00,1.0,1,1050577,0
27,108.0,112.0,179.0,29.3062,93.9,33.7,49.3,8234.0,1942,-5.875050,...,0.0,1.00,0.0,0.0,1.0,1.00,1.0,1,1052593,0

In [270]:
input_df_ct_80_multi.to_csv(r'input_df_ct_80_multi.csv', index = False, header=True)