# Matrices

In this script we will create huge matrices with all patients and the exposome variables of interest:

    1. x_nan = 115 variables with missing values (no dummy transformations) 
    2. x_s = 115 variables with all missing values imputed by simple approach (no dummy transformations) 
    3. x_s_nan = 115 variables with imputed missing values for imputation with multivariable approaches (no dummy transformations) 
 
    4. x_nan_d = 164 variables with missing values (dummy transformations)
    5. x_s_d = 164 variables with all missing values imputed by simple approach (dummy transformations)
    6. x_s_nan_d = 164 variables with imputed missing values for imputation with multivariable approaches (dummy transformations)

In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
cd /Users/marinacamachosanz/Desktop/tfg_BCN-AIM/all_fields/

/Users/marinacamachosanz/Desktop/tfg_BCN-AIM/all_fields

In [3]:
###################################
# Physical_measures_Anthropometry #
###################################

In [4]:
data_48 = pd.read_csv("f.48.tab",delimiter="\t")
data_49 = pd.read_csv("f.49.tab",delimiter="\t")
data_50 = pd.read_csv("f.50.tab",delimiter="\t")
data_21001 = pd.read_csv("f.21001.tab",delimiter="\t")
data_21002 = pd.read_csv("f.21002.tab",delimiter="\t")
data_23099 = pd.read_csv("f.23099.tab",delimiter="\t")
data_23101 = pd.read_csv("f.23101.tab",delimiter="\t")
data_23102 = pd.read_csv("f.23102.tab",delimiter="\t")
data_23105 = pd.read_csv("f.23105.tab",delimiter="\t")

In [5]:
del data_23101["Unnamed: 0"]

In [6]:
x_nan = pd.DataFrame(data_48['f.eid'])
x_s = pd.DataFrame(data_48['f.eid'])
x_s_nan = pd.DataFrame(data_48['f.eid'])

x_nan_d = pd.DataFrame(data_48['f.eid'])
x_s_d = pd.DataFrame(data_48['f.eid'])
x_s_nan_d = pd.DataFrame(data_48['f.eid'])

In [7]:
Physical_measures_Anthropometry = [data_48, data_49, data_50, data_21001, data_21002, data_23099, data_23101, data_23102, data_23105]
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
col = ['waistcircum', 'hipcircum', 'standingheight', 'bmi', 'weight', 'bodyfatpercent', 'wholebodyfatfreemass', 'wholebodywatermass', 'basalmetabolicrate']
count = -1
for data in Physical_measures_Anthropometry:
    count += 1
    x = data.iloc[:,1:2].values
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)

    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)

In [8]:
#################################################
# Sociodemographics_Population_Characteristics #
################################################

In [9]:
data_34 = pd.read_csv("f.34.tab",delimiter="\t")
data_189 = pd.read_csv("f.189.tab",delimiter="\t")

In [10]:
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
data_34 = pd.DataFrame(data_34)
x34 = data_34.iloc[:,1:2].values

x_nan['age'] = pd.DataFrame(x34)
x_nan_d['age'] = pd.DataFrame(x34)

x_s_nan['age'] = pd.DataFrame(x34)
x_s_nan_d['age'] = pd.DataFrame(x34)

imp.fit(x34)
x34 = imp.transform(x34)
count=0
for x in x34: x34[count]=int(x);count+=1
    
x_s['age'] = x34
x_s_d['age'] = x34

In [11]:
data_189 = pd.DataFrame(data_189)
x189 = data_189.iloc[:,1:2].values

x_nan['townsendeprivation'] = pd.DataFrame(x189)
x_nan_d['townsendeprivation'] = pd.DataFrame(x189)

x_s_nan['townsendeprivation'] = pd.DataFrame(x189)
x_s_nan_d['townsendeprivation'] = pd.DataFrame(x189)

imp.fit(x189)
x189 = imp.transform(x189)

x_s['townsendeprivation'] = x189
x_s_d['townsendeprivation'] = x189

In [12]:
################################
# Sociodemographics_Employment #
################################

In [13]:
data_757 = pd.read_csv("f.757.tab",delimiter="\t")
data_767 = pd.read_csv("f.767.tab",delimiter="\t")
data_796 = pd.read_csv("f.796.tab",delimiter="\t")
data_806 = pd.read_csv("f.806.tab",delimiter="\t")
data_816 = pd.read_csv("f.816.tab",delimiter="\t")
data_826 = pd.read_csv("f.826.tab",delimiter="\t")
data_6142 = pd.read_csv("f.6142.tab",delimiter="\t")

In [14]:
Sociodemographics_Employment_I = [data_757, data_767, data_796]
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
col = ['timeinjob', 'lengthworkweek', 'distancehomework']
count = -1
for data in Sociodemographics_Employment_I:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3, -10, -5],[np.NaN, np.NaN, 0, np.NaN])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

    imp.fit(x)
    x = imp.transform(x)
    counte = 0
    for element in x: x[counte] = int(element); counte += 1
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)

In [15]:
Sociodemographics_Employment_II = [data_806, data_816, data_826]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['jobwalkingstand', 'jobphysical', 'jobshiftwork']
count = -1
for data in Sociodemographics_Employment_II:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x=x.replace([-1, -3, -5], [np.NaN, np.NaN, np.NaN])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)

    imp.fit(x)
    x = imp.transform(x)
    counte=0
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)

In [16]:
del data_6142['f.6142.1.0']
del data_6142['f.6142.1.1']
del data_6142['f.6142.1.2']
del data_6142['f.6142.1.3']
del data_6142['f.6142.1.4']
del data_6142['f.6142.1.5']
del data_6142['f.6142.1.6']
del data_6142['f.6142.2.0']
del data_6142['f.6142.2.1']
del data_6142['f.6142.2.2']
del data_6142['f.6142.2.3']
del data_6142['f.6142.2.4']
del data_6142['f.6142.2.5']
del data_6142['f.6142.2.6']
del data_6142['f.6142.3.0']
del data_6142['f.6142.3.1']
del data_6142['f.6142.3.2']
del data_6142['f.6142.3.3']
del data_6142['f.6142.3.4']
del data_6142['f.6142.3.5']
del data_6142['f.6142.3.6']

In [17]:
data_6142 = data_6142.iloc[:,1:].values
data_6142 = pd.DataFrame(data_6142)
var = {0: 'currentemployment_0',
       1: 'currentemployment_1',      
       2: 'currentemployment_2',      
       3: 'currentemployment_3',
       4: 'currentemployment_4',
       5: 'currentemployment_5',      
       6: 'currentemployment_6'}
data_6142 = data_6142.rename(columns = var)
data_6142 = data_6142.replace(-3, np.NaN)

In [18]:
imp = SimpleImputer(missing_values=np.NaN, strategy='constant', fill_value=0)

In [19]:
currentemployment_0 = data_6142.iloc[:,0:1].values
imp.fit(currentemployment_0)
currentemployment_0 = imp.transform(currentemployment_0)
currentemployment_0 = pd.DataFrame(currentemployment_0)
dummy = pd.get_dummies(currentemployment_0[0])
currentemployment_0 = pd.concat([currentemployment_0,dummy], axis = 1)
del currentemployment_0[0]
var = {-7.0: 'otherwork',
       1.0: 'employed',      
       2.0: 'retired',      
       3.0: 'lookingafterhome',
       4.0: 'unabletowork',      
       5.0: 'unemployed',      
       6.0: 'unpaidwork',      
       7.0: 'student'}
currentemployment_0 = currentemployment_0.rename(columns = var)

In [20]:
currentemployment_1 = data_6142.iloc[:,1:2].values
imp.fit(currentemployment_1)
currentemployment_1 = imp.transform(currentemployment_1)
currentemployment_1 = pd.DataFrame(currentemployment_1)
dummy = pd.get_dummies(currentemployment_1[0])
currentemployment_1 = pd.concat([currentemployment_1,dummy], axis = 1)
del currentemployment_1[0]
var = {-7.0: 'otherwork',
       1.0: 'employed',      
       2.0: 'retired',      
       3.0: 'lookingafterhome',
       4.0: 'unabletowork',      
       5.0: 'unemployed',      
       6.0: 'unpaidwork',      
       7.0: 'student'}
currentemployment_1 = currentemployment_1.rename(columns = var)

In [21]:
currentemployment_2 = data_6142.iloc[:,2:3].values
imp.fit(currentemployment_2)
currentemployment_2 = imp.transform(currentemployment_2)
currentemployment_2 = pd.DataFrame(currentemployment_2)
dummy = pd.get_dummies(currentemployment_2[0])
currentemployment_2 = pd.concat([currentemployment_2,dummy], axis = 1)
del currentemployment_2[0]
var = {-7.0: 'otherwork',
       1.0: 'employed',      
       2.0: 'retired',      
       3.0: 'lookingafterhome',
       4.0: 'unabletowork',      
       5.0: 'unemployed',      
       6.0: 'unpaidwork',      
       7.0: 'student'}
currentemployment_2 = currentemployment_2.rename(columns = var)

In [22]:
currentemployment_3 = data_6142.iloc[:,3:4].values
imp.fit(currentemployment_3)
currentemployment_3 = imp.transform(currentemployment_3)
currentemployment_3 = pd.DataFrame(currentemployment_3)
dummy = pd.get_dummies(currentemployment_3[0])
currentemployment_3 = pd.concat([currentemployment_3,dummy], axis = 1)
del currentemployment_3[0]
var = {-7.0: 'otherwork',
       1.0: 'employed',      
       2.0: 'retired',      
       3.0: 'lookingafterhome',
       4.0: 'unabletowork',      
       5.0: 'unemployed',      
       6.0: 'unpaidwork',      
       7.0: 'student'}
currentemployment_3 = currentemployment_3.rename(columns = var)

In [23]:
currentemployment_4 = data_6142.iloc[:,4:5].values
imp.fit(currentemployment_4)
currentemployment_4 = imp.transform(currentemployment_4)
currentemployment_4 = pd.DataFrame(currentemployment_4)
dummy = pd.get_dummies(currentemployment_4[0])
currentemployment_4 = pd.concat([currentemployment_4,dummy], axis = 1)
del currentemployment_4[0]
var = {-7.0: 'otherwork',
       1.0: 'employed',      
       2.0: 'retired',      
       3.0: 'lookingafterhome',
       4.0: 'unabletowork',      
       5.0: 'unemployed',      
       6.0: 'unpaidwork',      
       7.0: 'student'}
currentemployment_4 = currentemployment_4.rename(columns = var)

In [24]:
currentemployment_5 = data_6142.iloc[:,5:6].values
imp.fit(currentemployment_5)
currentemployment_5 = imp.transform(currentemployment_5)
currentemployment_5 = pd.DataFrame(currentemployment_5)
dummy = pd.get_dummies(currentemployment_5[0])
currentemployment_5 = pd.concat([currentemployment_5,dummy], axis = 1)
del currentemployment_5[0]
var = {-7.0: 'otherwork',
       1.0: 'employed',      
       2.0: 'retired',      
       3.0: 'lookingafterhome',
       4.0: 'unabletowork',      
       5.0: 'unemployed',      
       6.0: 'unpaidwork',      
       7.0: 'student'}
currentemployment_5 = currentemployment_5.rename(columns = var)

In [25]:
currentemployment_6 = data_6142.iloc[:,6:7].values
imp.fit(currentemployment_6)
currentemployment_6 = imp.transform(currentemployment_6)
currentemployment_6 = pd.DataFrame(currentemployment_6)
dummy = pd.get_dummies(currentemployment_6[0])
currentemployment_6 = pd.concat([currentemployment_6,dummy], axis = 1)
del currentemployment_6[0]
var = {-7.0: 'otherwork',
       1.0: 'employed',      
       2.0: 'retired',      
       3.0: 'lookingafterhome',
       4.0: 'unabletowork',      
       5.0: 'unemployed',      
       6.0: 'unpaidwork',      
       7.0: 'student'}
currentemployment_6 = currentemployment_6.rename(columns = var)

In [26]:
currentemployment_f = pd.DataFrame()
currentemployment_f['otherwork'] = currentemployment_0['otherwork'] 
currentemployment_f['employed'] = currentemployment_0['employed']       
currentemployment_f['retired'] = currentemployment_0['retired'] + currentemployment_1['retired']    
currentemployment_f['lookingafterhome'] = currentemployment_0['lookingafterhome'] + currentemployment_1['lookingafterhome'] + currentemployment_2['lookingafterhome']       
currentemployment_f['unabletowork'] = currentemployment_0['unabletowork'] + currentemployment_1['unabletowork'] + currentemployment_2['unabletowork'] + currentemployment_3['unabletowork']         
currentemployment_f['unemployed'] = currentemployment_0['unemployed'] + currentemployment_1['unemployed'] + currentemployment_2['unemployed'] + currentemployment_3['unemployed'] + currentemployment_4['unemployed']            
currentemployment_f['unpaidwork'] = currentemployment_0['unpaidwork'] + currentemployment_1['unpaidwork'] + currentemployment_2['unpaidwork'] + currentemployment_3['unpaidwork'] + currentemployment_4['unpaidwork'] + currentemployment_5['unpaidwork']           
currentemployment_f['student'] = currentemployment_0['student'] + currentemployment_1['student'] + currentemployment_2['student'] + currentemployment_3['student'] + currentemployment_4['student'] + currentemployment_5['student'] + currentemployment_6['student']

In [27]:
x_nan = pd.concat([x_nan, currentemployment_f], axis=1)
x_nan_d = pd.concat([x_nan_d, currentemployment_f], axis=1)

x_s = pd.concat([x_s, currentemployment_f], axis=1)
x_s_d = pd.concat([x_s_d, currentemployment_f], axis=1)

x_s_nan = pd.concat([x_s_nan, currentemployment_f], axis=1)
x_s_nan_d = pd.concat([x_s_nan_d, currentemployment_f], axis=1)

In [28]:
###############################
# Sociodemographics_Education #
###############################

In [29]:
# Sociodemographics_Education
data_6138 = pd.read_csv("f.6138.tab",delimiter="\t")
data_845 = pd.read_csv("f.845.tab",delimiter="\t")

In [30]:
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
data_845=data_845.replace(-1, np.NaN)
data_845=data_845.replace(-3, np.NaN)
data_845=data_845.replace(-2, 999)
data_845 = pd.DataFrame(data_845)
x845 = data_845.iloc[:,1:2].values

x_nan['agecompleted'] = pd.DataFrame(x845)
x_nan_d['agecompleted'] = pd.DataFrame(x845)

x_s_nan['agecompleted'] = pd.DataFrame(x845)
x_s_nan_d['agecompleted'] = pd.DataFrame(x845)

imp.fit(x845)
x845 = imp.transform(x845)
count=0
for x in x845: x845[count]=int(x);count+=1
    
x_s['agecompleted'] = x845
x_s_d['agecompleted'] = x845

In [31]:
del data_6138['f.6138.1.0']
del data_6138['f.6138.1.1']
del data_6138['f.6138.1.2']
del data_6138['f.6138.1.3']
del data_6138['f.6138.1.4']
del data_6138['f.6138.1.5']

del data_6138['f.6138.2.0']
del data_6138['f.6138.2.1']
del data_6138['f.6138.2.2']
del data_6138['f.6138.2.3']
del data_6138['f.6138.2.4']
del data_6138['f.6138.2.5']

del data_6138['f.6138.3.0']
del data_6138['f.6138.3.1']
del data_6138['f.6138.3.2']
del data_6138['f.6138.3.3']
del data_6138['f.6138.3.4']
del data_6138['f.6138.3.5']

In [32]:
data_6138 = pd.DataFrame(data_6138)
data_6138 = data_6138.iloc[:,1:].values
data_6138 = pd.DataFrame(data_6138)
var = {0: 'qualifications_0',
       1: 'qualifications_1',      
       2: 'qualifications_2',      
       3: 'qualifications_3',
       4: 'qualifications_4',
       5: 'qualifications_5'}
data_6138 = data_6138.rename(columns = var)
data_6138 = data_6138.replace(-3, np.NaN)

In [33]:
imp = SimpleImputer(missing_values=np.NaN, strategy='constant', fill_value=0)

In [34]:
qualifications_0 = data_6138.iloc[:,0:1].values
imp.fit(qualifications_0)
qualifications_0 = imp.transform(qualifications_0)
qualifications_0 = pd.DataFrame(qualifications_0)
dummy = pd.get_dummies(qualifications_0[0])
qualifications_0 = pd.concat([qualifications_0,dummy], axis = 1)
del qualifications_0[0]
var = {-7.0: 'noeducation',
       1.0: 'university',  
       2.0: 'A/AS', 
       3.0: 'O/GCSE',
       4.0: 'CSE',
       5.0: 'NVQ/HND/HNC',      
       6.0: 'professional'}
qualifications_0 = qualifications_0.rename(columns = var)

In [35]:
qualifications_1 = data_6138.iloc[:,1:2].values
imp.fit(qualifications_1)
qualifications_1 = imp.transform(qualifications_1)
qualifications_1 = pd.DataFrame(qualifications_1)
dummy = pd.get_dummies(qualifications_1[0])
qualifications_1 = pd.concat([qualifications_1,dummy], axis = 1)
del qualifications_1[0]
var = {-7.0: 'noeducation',
       1.0: 'university',  
       2.0: 'A/AS', 
       3.0: 'O/GCSE',
       4.0: 'CSE',
       5.0: 'NVQ/HND/HNC',      
       6.0: 'professional'}
qualifications_1 = qualifications_1.rename(columns = var)

In [36]:
qualifications_2 = data_6138.iloc[:,2:3].values
imp.fit(qualifications_2)
qualifications_2 = imp.transform(qualifications_2)
qualifications_2 = pd.DataFrame(qualifications_2)
dummy = pd.get_dummies(qualifications_2[0])
qualifications_2 = pd.concat([qualifications_2,dummy], axis = 1)
del qualifications_2[0]
var = {-7.0: 'noeducation',
       1.0: 'university',  
       2.0: 'A/AS', 
       3.0: 'O/GCSE',
       4.0: 'CSE',
       5.0: 'NVQ/HND/HNC',      
       6.0: 'professional'}
qualifications_2 = qualifications_2.rename(columns = var)

In [37]:
qualifications_3 = data_6138.iloc[:,3:4].values
imp.fit(qualifications_3)
qualifications_3 = imp.transform(qualifications_3)
qualifications_3 = pd.DataFrame(qualifications_3)
dummy = pd.get_dummies(qualifications_3[0])
qualifications_3 = pd.concat([qualifications_3,dummy], axis = 1)
del qualifications_3[0]
var = {-7.0: 'noeducation',
       1.0: 'university',  
       2.0: 'A/AS', 
       3.0: 'O/GCSE',
       4.0: 'CSE',
       5.0: 'NVQ/HND/HNC',      
       6.0: 'professional'}
qualifications_3 = qualifications_3.rename(columns = var)

In [38]:
qualifications_4 = data_6138.iloc[:,4:5].values
imp.fit(qualifications_4)
qualifications_4 = imp.transform(qualifications_4)
qualifications_4 = pd.DataFrame(qualifications_4)
dummy = pd.get_dummies(qualifications_4[0])
qualifications_4 = pd.concat([qualifications_4,dummy], axis = 1)
del qualifications_4[0]
var = {-7.0: 'noeducation',
       1.0: 'university',  
       2.0: 'A/AS', 
       3.0: 'O/GCSE',
       4.0: 'CSE',
       5.0: 'NVQ/HND/HNC',      
       6.0: 'professional'}
qualifications_4 = qualifications_4.rename(columns = var)

In [39]:
qualifications_5 = data_6138.iloc[:,5:6].values
imp.fit(qualifications_5)
qualifications_5 = imp.transform(qualifications_5)
qualifications_5 = pd.DataFrame(qualifications_5)
dummy = pd.get_dummies(qualifications_5[0])
qualifications_5 = pd.concat([qualifications_5,dummy], axis = 1)
del qualifications_5[0]
var = {-7.0: 'noeducation',
       1.0: 'university',  
       2.0: 'A/AS', 
       3.0: 'O/GCSE',
       4.0: 'CSE',
       5.0: 'NVQ/HND/HNC',      
       6.0: 'professional'}
qualifications_5 = qualifications_5.rename(columns = var)

In [40]:
qualifications_f = pd.DataFrame()
qualifications_f['noeducation'] = qualifications_0['noeducation'] 
qualifications_f['university'] = qualifications_0['university']       
qualifications_f['A/AS'] = qualifications_0['A/AS'] + qualifications_1['A/AS']    
qualifications_f['O/GCSE'] = qualifications_0['O/GCSE'] + qualifications_1['O/GCSE'] + qualifications_2['O/GCSE'] 
qualifications_f['CSE'] = qualifications_0['CSE'] + qualifications_1['CSE'] + qualifications_2['CSE'] + qualifications_3['CSE']      
qualifications_f['NVQ/HND/HNC'] = qualifications_0['NVQ/HND/HNC'] + qualifications_1['NVQ/HND/HNC'] + qualifications_2['NVQ/HND/HNC'] + qualifications_3['NVQ/HND/HNC'] + qualifications_4['NVQ/HND/HNC']
qualifications_f['professional'] = qualifications_0['professional'] + qualifications_1['professional'] + qualifications_2['professional'] +  qualifications_3['professional'] +  qualifications_4['professional'] + qualifications_5['professional']

In [41]:
x_nan = pd.concat([x_nan, qualifications_f], axis=1)
x_nan_d = pd.concat([x_nan_d, qualifications_f], axis=1)

x_s = pd.concat([x_s, qualifications_f], axis=1)
x_s_d = pd.concat([x_s_d, qualifications_f], axis=1)

x_s_nan = pd.concat([x_s_nan, qualifications_f], axis=1)
x_s_nan_d = pd.concat([x_s_nan_d, qualifications_f], axis=1)

In [42]:
###################################
# Lifestyle_and_environment_Sleep #
##################################

In [43]:
data_1160 = pd.read_csv("f.1160.tab",delimiter="\t")
data_1200 = pd.read_csv("f.1200.tab",delimiter="\t")
data_1220 = pd.read_csv("f.1220.tab",delimiter="\t")
data_1190 = pd.read_csv("f.1190.tab",delimiter="\t")

In [44]:
del data_1160['Unnamed: 0']
del data_1200['Unnamed: 0']
del data_1220['Unnamed: 0']
del data_1190['Unnamed: 0']

In [45]:
del data_1160['f.1160.1.0']
del data_1160['f.1160.2.0']
del data_1160['f.1160.3.0']
del data_1200['f.1200.1.0']
del data_1200['f.1200.2.0']
del data_1200['f.1200.3.0']
del data_1220['f.1220.1.0']
del data_1220['f.1220.2.0']
del data_1220['f.1220.3.0']
del data_1190['f.1190.1.0']
del data_1190['f.1190.2.0']
del data_1190['f.1190.3.0']

In [46]:
Lifestyle_and_environment_Sleep = [data_1200, data_1220, data_1190]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['sleeplessness', 'daytimedozing', 'napduringday']
count = -1
for data in Lifestyle_and_environment_Sleep:
    count += 1
    data = data.replace([-1, -3], [np.NaN, np.NaN])
    x = data.iloc[:,1:2].values
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

In [47]:
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
data_1160 = pd.DataFrame(data_1160)
x1160 = data_1160.iloc[:,1:2].values
x1160=pd.DataFrame(x1160).replace([-1, -3],[np.NaN, np.NaN])

x_nan['sleepduration'] = pd.DataFrame(x1160)
x_nan_d['sleepduration'] = pd.DataFrame(x1160)

x_s_nan['sleepduration'] = pd.DataFrame(x1160)
x_s_nan_d['sleepduration'] = pd.DataFrame(x1160)

imp.fit(x1160)
x1160 = imp.transform(x1160)
count=0
for x in x1160: x1160[count]=int(x);count+=1

x_s['sleepduration'] = x1160
x_s_d['sleepduration'] = x1160

In [48]:
###############################################
# Lifestyle_and_environment_Drug_consumption #
##############################################

In [49]:
data_1239 = pd.read_csv("f.1239.tab",delimiter="\t")
data_1249 = pd.read_csv("f.1249.tab",delimiter="\t")
data_20414 = pd.read_csv("f.20414.tab",delimiter="\t")
data_20453 = pd.read_csv("f.20453.tab",delimiter="\t")
data_20411 = pd.read_csv("f.20411.tab",delimiter="\t")
data_20405 = pd.read_csv("f.20405.tab",delimiter="\t")
data_20117 = pd.read_csv("f.20117.tab",delimiter="\t")

In [50]:
del data_1239['Unnamed: 0']
del data_1249['Unnamed: 0']
del data_20117['Unnamed: 0']

In [51]:
data_1239['f.1239.0.0']=data_1239['f.1239.0.0'].replace(-3, np.NaN)
data_1239['f.1239.0.0']=data_1239['f.1239.0.0'].replace([2,1], [1,2])
data_1249['f.1249.0.0']=data_1249['f.1249.0.0'].replace(-3, np.NaN)
data_1249['f.1249.0.0']=data_1249['f.1249.0.0'].replace([0,1,3,4], [4,3,1,0])
data_20414['f.20414.0.0']=data_20414['f.20414.0.0'].replace(-818, np.NaN)
data_20453['f.20453.0.0']=data_20453['f.20453.0.0'].replace(-818, np.NaN)
data_20411['f.20411.0.0']=data_20411['f.20411.0.0'].replace(-818, np.NaN)
data_20405['f.20405.0.0']=data_20405['f.20405.0.0'].replace(-818, np.NaN)
data_20117['f.20117.0.0']=data_20117['f.20117.0.0'].replace(-3, np.NaN)

In [52]:
Lifestyle_and_environment_Drug_consumption = [data_1239, data_1249, data_20414, data_20453, data_20411, data_20405, data_20117]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['currenttobacco', 'pasttobacco', 'frequdrinkingalcohol', 'evertakencannabis', 'everbeeninjuredrinkalcohol', 'everhadknownpersonalcoh', 'alcoholdrinkerstatus']
count = -1
for data in Lifestyle_and_environment_Drug_consumption:
    count += 1
    x = data.iloc[:,1:2].values
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)

    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

In [53]:
###########################################
# Lifestyle_and_environment_Sun_exposure #
##########################################

In [54]:
data_1050 = pd.read_csv("f.1050.tab",delimiter="\t")
data_1060 = pd.read_csv("f.1060.tab",delimiter="\t")
data_2267 = pd.read_csv("f.2267.tab",delimiter="\t")
data_1747 = pd.read_csv("f.1747.tab",delimiter="\t")
data_1757 = pd.read_csv("f.1757.tab",delimiter="\t")
data_1727 = pd.read_csv("f.1727.tab",delimiter="\t")

In [55]:
del data_1050['Unnamed: 0']
del data_1060['Unnamed: 0']

In [56]:
Lifestyle_and_environment_Sun_exposure_I = [data_2267, data_1757, data_1727 ]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['usesunprotection', 'facialageing', 'easeofskin']
count = -1
for data in Lifestyle_and_environment_Sun_exposure_I:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3, -10], [np.NaN, np.NaN, 0])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

In [57]:
Lifestyle_and_environment_Sun_exposure_II = [data_1050, data_1060]
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
col = ['timespendsummer', 'timespendswinter']
count =- 1
for data in Lifestyle_and_environment_Sun_exposure_II:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3, -10], [np.NaN, np.NaN, 0])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    counte=0
    for element in x: x[counte]=int(element);counte+=1
        
    x_s[col[count]] = pd.DataFrame(x)        
    x_s_d[col[count]] = pd.DataFrame(x)

In [58]:
data_1747['f.1747.0.0']=data_1747['f.1747.0.0'].replace(-1, np.NaN)
data_1747['f.1747.0.0']=data_1747['f.1747.0.0'].replace(-3, np.NaN)

In [59]:
del data_1747['f.1747.1.0']
del data_1747['f.1747.2.0']

In [60]:
x_nan['hair'] =  pd.DataFrame(data_1747['f.1747.0.0'])

In [61]:
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
data_1747 = pd.DataFrame(data_1747)
data_1747 = pd.DataFrame(data_1747.iloc[:,1:2].values)
imp.fit(data_1747)
data_1747 = imp.transform(data_1747)
data_1747 = pd.DataFrame(data_1747)

In [62]:
x_s['hair'] =  data_1747[0]
x_s_nan['hair'] =  data_1747[0]

In [63]:
dummy = pd.get_dummies(data_1747[0])
data_1747 = pd.concat([data_1747,dummy], axis = 1)
del data_1747[0]

In [64]:
var_temp = {1.0: 'blonde',
            2.0: 'red',      
            3.0: 'light_brown',      
            4.0: 'dark_brown',
            5.0: 'black',      
            6.0: 'otherhair'}     
data_1747 = data_1747.rename(columns = var_temp)

In [65]:
x_nan_d = pd.concat([x_nan_d, data_1747], axis=1)
x_s_d = pd.concat([x_s_d, data_1747], axis=1)
x_s_nan_d = pd.concat([x_s_nan_d, data_1747], axis=1)

In [66]:
###################################################
# Lifestyle_and_environment_Electronic_device_use #
###################################################

In [67]:
data_1110 = pd.read_csv("f.1110.tab",delimiter="\t")
data_1120 = pd.read_csv("f.1120.tab",delimiter="\t")
data_1140 = pd.read_csv("f.1140.tab",delimiter="\t")
data_1150 = pd.read_csv("f.1150.tab",delimiter="\t")
data_2237 = pd.read_csv("f.2237.tab",delimiter="\t")

In [68]:
del data_1110['Unnamed: 0']
del data_1120['Unnamed: 0']
del data_1140['Unnamed: 0']
del data_1140['f.1140.1.0']
del data_1150['Unnamed: 0']
del data_1150['f.1150.3.0']
del data_1150['f.1150.2.0']
del data_1150['f.1150.1.0']

In [69]:
Lifestyle_and_environment_Electronic_device_use = [data_1110, data_1120, data_1140, data_2237]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['lengthmobileuse', 'weeklyusemobile', 'differencemobile2years', 'playscomputergames']
count = -1
for data in Lifestyle_and_environment_Electronic_device_use:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3],[np.NaN, np.NaN])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

In [70]:
data_1150['f.1150.0.0'] = pd.DataFrame(data_1150['f.1150.0.0'].replace([-1, -3], [np.NaN, np.NaN ]))
x_nan['mobilhead'] = data_1150['f.1150.0.0']
data_1150 = pd.DataFrame(data_1150.iloc[:,1:2].values)
imp.fit(data_1150)
data_1150 = imp.transform(data_1150)
data_1150 = pd.DataFrame(data_1150)

x_s['mobilhead'] = data_1150[0]
x_s_nan['mobilhead'] = data_1150[0]

In [71]:
dummy1150 = pd.get_dummies(data_1150[0])
data_1150 = pd.concat([data_1150,dummy1150], axis = 1)
data_1150.drop([0], axis = 1)
del data_1150[0]

In [72]:
var_1150 = {1.0: 'left',
            2.0: 'right',      
            3.0: 'leftright'}     
data_1150 = data_1150.rename(columns = var_1150)

In [73]:
x_nan_d = pd.concat([x_nan_d, data_1150], axis=1)
x_s_d = pd.concat([x_s_d, data_1150], axis=1)
x_s_nan_d = pd.concat([x_s_nan_d, data_1150], axis=1)

In [74]:
###################################
# Lifestyle_and_environment_Diet #
##################################

In [75]:
data_1289 = pd.read_csv("f.1289.tab",delimiter="\t")
data_1299 = pd.read_csv("f.1299.tab",delimiter="\t")
data_1309 = pd.read_csv("f.1309.tab",delimiter="\t")
data_1319 = pd.read_csv("f.1319.tab",delimiter="\t")
data_1329 = pd.read_csv("f.1329.tab",delimiter="\t")
data_1339 = pd.read_csv("f.1339.tab",delimiter="\t")
data_1349 = pd.read_csv("f.1349.tab",delimiter="\t")
data_1359 = pd.read_csv("f.1359.tab",delimiter="\t")
data_1369 = pd.read_csv("f.1369.tab",delimiter="\t")
data_1379 = pd.read_csv("f.1379.tab",delimiter="\t")
data_1389 = pd.read_csv("f.1389.tab",delimiter="\t")
data_1408 = pd.read_csv("f.1408.tab",delimiter="\t")
data_1418 = pd.read_csv("f.1418.tab",delimiter="\t")
data_1438 = pd.read_csv("f.1438.tab",delimiter="\t")
data_1448 = pd.read_csv("f.1448.tab",delimiter="\t")
data_1458 = pd.read_csv("f.1458.tab",delimiter="\t")
data_1468 = pd.read_csv("f.1468.tab",delimiter="\t")
data_1478 = pd.read_csv("f.1478.tab",delimiter="\t")
data_1488 = pd.read_csv("f.1488.tab",delimiter="\t")
data_1498 = pd.read_csv("f.1498.tab",delimiter="\t")
data_1508 = pd.read_csv("f.1508.tab",delimiter="\t")
data_1548 = pd.read_csv("f.1548.tab",delimiter="\t")
data_1428 = pd.read_csv("f.1428.tab",delimiter="\t")
data_1528 = pd.read_csv("f.1528.tab",delimiter="\t")
data_1538 = pd.read_csv("f.1538.tab",delimiter="\t") 
data_2654 = pd.read_csv("f.2654.tab",delimiter="\t")

In [76]:
del data_1289['Unnamed: 0']
del data_1289['f.1289.3.0']
del data_1289['f.1289.1.0']
del data_1289['f.1289.2.0']

del data_1299['Unnamed: 0']
del data_1299['f.1299.3.0']
del data_1299['f.1299.1.0']
del data_1299['f.1299.2.0']

del data_1309['Unnamed: 0']
del data_1309['f.1309.3.0']
del data_1309['f.1309.1.0']
del data_1309['f.1309.2.0']

del data_1319['Unnamed: 0']
del data_1319['f.1319.3.0']
del data_1319['f.1319.1.0']
del data_1319['f.1319.2.0']

del data_1329['f.1329.3.0']
del data_1329['f.1329.1.0']
del data_1329['f.1329.2.0']

del data_1339['f.1339.3.0']
del data_1339['f.1339.1.0']
del data_1339['f.1339.2.0']

del data_1349['f.1349.3.0']
del data_1349['f.1349.1.0']
del data_1349['f.1349.2.0']

del data_1359['f.1359.3.0']
del data_1359['f.1359.1.0']
del data_1359['f.1359.2.0']

del data_1369['f.1369.3.0']
del data_1369['f.1369.1.0']
del data_1369['f.1369.2.0']

del data_1379['f.1379.3.0']
del data_1379['f.1379.1.0']
del data_1379['f.1379.2.0']

del data_1389['f.1389.3.0']
del data_1389['f.1389.1.0']
del data_1389['f.1389.2.0']

del data_1408['f.1408.3.0']
del data_1408['f.1408.1.0']
del data_1408['f.1408.2.0']

del data_1418['f.1418.3.0']
del data_1418['f.1418.1.0']
del data_1418['f.1418.2.0']

del data_1438['f.1438.3.0']
del data_1438['f.1438.1.0']
del data_1438['f.1438.2.0']

del data_1448['f.1448.3.0']
del data_1448['f.1448.1.0']
del data_1448['f.1448.2.0']

del data_1458['f.1458.1.0']
del data_1458['f.1458.2.0']
del data_1458['f.1458.3.0']

del data_1468['f.1468.3.0']
del data_1468['f.1468.1.0']
del data_1468['f.1468.2.0']

del data_1478['f.1478.3.0']
del data_1478['f.1478.1.0']
del data_1478['f.1478.2.0']

del data_1488['f.1488.3.0']
del data_1488['f.1488.1.0']
del data_1488['f.1488.2.0']

del data_1498['f.1498.3.0']
del data_1498['f.1498.1.0']
del data_1498['f.1498.2.0']

del data_1508['f.1508.3.0']
del data_1508['f.1508.1.0']
del data_1508['f.1508.2.0']

del data_1548['f.1548.3.0']
del data_1548['f.1548.1.0']
del data_1548['f.1548.2.0']

del data_1428['f.1428.3.0']
del data_1428['f.1428.1.0']
del data_1428['f.1428.2.0']

del data_1528['f.1528.3.0']
del data_1528['f.1528.1.0']
del data_1528['f.1528.2.0']

del data_1538['f.1538.3.0']
del data_1538['f.1538.1.0']
del data_1538['f.1538.2.0']

del data_2654['f.2654.3.0']
del data_2654['f.2654.1.0']
del data_2654['f.2654.2.0']

In [77]:
Lifestyle_and_environment_Diet_I = [data_1289, data_1299, data_1309, data_1319, data_1438, data_1458, data_1488, data_1498, data_1528]
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
col = ['cookedvegetable', 'saladintake', 'fruitintake', 'driedfruit', 'breadintake' ,'cerealintake', 'teaintake', 'coffeintake', 'waterintake']
count = -1
for data in Lifestyle_and_environment_Diet_I:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3, -10], [np.NaN, np.NaN, 0])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    counte=0
    for element in x: x[counte]=int(element);counte+=1
    
    x_s[col[count]] = pd.DataFrame(x)   
    x_s_d[col[count]] = pd.DataFrame(x)

In [78]:
Lifestyle_and_environment_Diet_II = [data_1329, data_1339, data_1349, data_1359, data_1369, data_1379, data_1389, data_1408, data_1418, data_1478, data_1548]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['oilyfishintake', 'nonoilyfish', 'processedmeat', 'poultryintake', 'beefintake', 'lambintake', 'porkintake', 'cheeseintake', 'milkused', 'salttofood', 'variationdiet']
count = -1
for data in Lifestyle_and_environment_Diet_II:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3],[np.NaN, np.NaN])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)

    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)

In [79]:
Lifestyle_and_environment_Diet_III = [data_1448, data_1468, data_1428, data_1538, data_2654, data_1508]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['breadtype','cerealtype','spreadtype','dietarychange','nonbutterspread','coffetype',]
count = -1
xdum = pd.DataFrame(data_1448['f.eid'])
for data in Lifestyle_and_environment_Diet_III:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3], [np.NaN, np.NaN])
    
    x_nan[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    
    x = imp.transform(x)
    x = pd.DataFrame(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_nan[col[count]] = pd.DataFrame(x)
    
    xdum[col[count]] = pd.DataFrame(x)

del xdum['f.eid']

In [80]:
dummy = pd.get_dummies(xdum['breadtype'])
xdum = pd.concat([xdum,dummy], axis = 1)
del xdum['breadtype']
var = {1.0: 'white',
       2.0: 'brown',      
       3.0: 'wholemealgrain',
       4.0: 'otherbread'}
xdum = xdum.rename(columns = var)

In [81]:
dummy = pd.get_dummies(xdum['cerealtype'])
xdum = pd.concat([xdum,dummy], axis = 1)
del xdum['cerealtype']
var = {1.0: 'brancereal',
       2.0: 'biscuitcereal',      
       3.0: 'oatcereal',
       4.0: 'muesli',
       5.0: 'othercereal'}
xdum = xdum.rename(columns = var)

In [82]:
dummy = pd.get_dummies(xdum['spreadtype'])
xdum = pd.concat([xdum,dummy], axis = 1)
del xdum['spreadtype']
var = {0.0: 'nospread',
       1.0: 'butter',      
       2.0: 'florabenecol_s',
       3.0: 'otherpread_s'}
xdum = xdum.rename(columns = var)

In [83]:
dummy = pd.get_dummies(xdum['dietarychange'])
xdum = pd.concat([xdum,dummy], axis = 1)
del xdum['dietarychange']
var = {0.0: 'nodietchange',
       1.0: 'yesilldietchange',      
       2.0: 'yesotherdietchange'}
xdum = xdum.rename(columns = var)

In [84]:
dummy = pd.get_dummies(xdum['nonbutterspread'])
xdum = pd.concat([xdum,dummy], axis = 1)
del xdum['nonbutterspread']
var = {4.0: 'softmargarine',
       5.0: 'hardmargarine',      
       6.0: 'olive',
       7.0: 'sunflowerolive',
       2.0: 'florabenecol_n',
       8.0: 'otherlowspread',
       9.0: 'otherspread_n'}
xdum = xdum.rename(columns = var)

In [85]:
dummy = pd.get_dummies(xdum['coffetype'])
xdum = pd.concat([xdum,dummy], axis = 1)
del xdum['coffetype']
var = {1:'decaffeinated',
       2:'instantcoffee',
       3:'groundcoffee',
       4:'othercoffee'}
xdum = xdum.rename(columns = var)

In [86]:
x_nan_d = pd.concat([x_nan_d, xdum], axis=1)
x_s_d = pd.concat([x_s_d, xdum], axis=1)
x_s_nan_d = pd.concat([x_s_nan_d, xdum], axis=1)

In [87]:
#####################################################
# Lifestyle_and_environment_Diet_by_24_hour_recall #
####################################################

In [88]:
data_100240 = pd.read_csv("f.100240.tab",delimiter="\t")
data_100390 = pd.read_csv("f.100390.tab",delimiter="\t")
data_100580 = pd.read_csv("f.100580.tab",delimiter="\t")
data_104670 = pd.read_csv("f.104670.tab",delimiter="\t")

In [89]:
del data_100240['f.100240.3.0']
del data_100240['f.100240.1.0']
del data_100240['f.100240.2.0']
del data_100240['f.100240.4.0']
del data_100240['Unnamed: 0']
del data_100390['f.100390.3.0']
del data_100390['f.100390.1.0']
del data_100390['f.100390.2.0']
del data_100390['f.100390.4.0']
del data_100390['Unnamed: 0']
del data_100580['f.100580.3.0']
del data_100580['f.100580.1.0']
del data_100580['f.100580.2.0']
del data_100580['f.100580.4.0']
del data_100580['Unnamed: 0']
del data_104670['f.104670.3.0']
del data_104670['f.104670.1.0']
del data_104670['f.104670.2.0']
del data_104670['f.104670.4.0']
del data_104670['Unnamed: 0']

In [90]:
Lifestyle_and_environment_Diet_by_24_hour_recall = [data_100240, data_100390, data_100580, data_104670]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['coffeeconsumed', 'teaconsumed', 'alcoholconsumed', 'vitaminsupplementuser']
count = -1
for data in Lifestyle_and_environment_Diet_by_24_hour_recall:
    count += 1
    x = pd.DataFrame(data.iloc[:,1:2].values)
    x = x.replace([-1, -3, -10], [np.NaN, np.NaN, 0])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)

    imp.fit(x)
    x = imp.transform(x)

    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)

In [91]:
####################################################
# Environmental_factors_Residential_air_pollution #
###################################################

In [92]:
data_24009 = pd.read_csv("f.24009.tab",delimiter="\t")
data_24014 = pd.read_csv("f.24014.tab",delimiter="\t")

In [93]:
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
x24009 = data_24009.iloc[:,1:2].values

x_nan['trafficintensity'] = pd.DataFrame(x24009)
x_nan_d['trafficintensity'] = pd.DataFrame(x24009)

x_s_nan['trafficintensity'] = pd.DataFrame(x24009)
x_s_nan_d['trafficintensity'] = pd.DataFrame(x24009)


imp.fit(x24009)
x24009 = imp.transform(x24009)
count=0
for x in x24009: x24009[count]=int(x);count+=1
    
x_s['trafficintensity'] = pd.DataFrame(x24009)
x_s_d['trafficintensity'] = pd.DataFrame(x24009)

In [94]:
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x104670 = data_104670.iloc[:,1:2].values

x_nan['closetomajorroad'] = pd.DataFrame(x104670)
x_nan_d['closetomajorroad'] = pd.DataFrame(x104670)

imp.fit(x104670)
x104670 = imp.transform(x104670)

x_s_nan['closetomajorroad'] = pd.DataFrame(x104670)
x_s_nan_d['closetomajorroad'] = pd.DataFrame(x104670)

x_s['closetomajorroad'] = pd.DataFrame(x104670)
x_s_d['closetomajorroad'] = pd.DataFrame(x104670)

In [95]:
#####################################################
# Environmental_factors_Residential_noise_pollution #
####################################################

In [96]:
data_24020 = pd.read_csv("f.24020.tab",delimiter="\t")
data_24021 = pd.read_csv("f.24021.tab",delimiter="\t")

In [97]:
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
x24020 = data_24020.iloc[:,1:2].values

x_nan['averagedaytimenoisepoll'] = pd.DataFrame(x24020)
x_nan_d['averagedaytimenoisepoll'] = pd.DataFrame(x24020)

x_s_nan['averagedaytimenoisepoll'] = pd.DataFrame(x24020)
x_s_nan_d['averagedaytimenoisepoll'] = pd.DataFrame(x24020)

imp.fit(x24020)
x24020 = imp.transform(x24020)

x_s['averagedaytimenoisepoll'] = pd.DataFrame(x24020)
x_s_d['averagedaytimenoisepoll'] = pd.DataFrame(x24020)

In [98]:
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
x24021 = data_24021.iloc[:,1:2].values

x_nan['averageeveningnoise'] = pd.DataFrame(x24021)
x_nan_d['averageeveningnoise'] = pd.DataFrame(x24021)

x_s_nan['averageeveningnoise'] = pd.DataFrame(x24021)
x_s_nan_d['averageeveningnoise'] = pd.DataFrame(x24021)

imp.fit(x24021)
x24021 = imp.transform(x24021)

x_s['averageeveningnoise'] = pd.DataFrame(x24021)
x_s_d['averageeveningnoise'] = pd.DataFrame(x24021)

In [99]:
#####################################
# Early_life_factors_Sun_exposure  #
####################################

In [100]:
data_1737 = pd.read_csv("f.1737.tab",delimiter="\t")

In [101]:
data_1737['f.1737.0.0']=data_1737['f.1737.0.0'].replace(-1, np.NaN)
data_1737['f.1737.0.0']=data_1737['f.1737.0.0'].replace(-3, np.NaN)
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
x1737 = data_1737.iloc[:,1:2].values

x_nan['childhoodsunburn'] = pd.DataFrame(x1737)
x_nan_d['childhoodsunburn'] = pd.DataFrame(x1737)

x_s_nan['childhoodsunburn'] = pd.DataFrame(x1737)
x_s_nan_d['childhoodsunburn'] = pd.DataFrame(x1737)

imp.fit(x1737)
x1737 = imp.transform(x1737)
count=0
for x in x1737: x1737[count]=int(x);count+=1

x_s['childhoodsunburn'] = pd.DataFrame(x1737)
x_s_d['childhoodsunburn'] = pd.DataFrame(x1737)

In [102]:
##########################################
# Early_life_factors_Early_life_factors  #
##########################################

In [103]:
data_1677 = pd.read_csv("f.1677.tab",delimiter="\t")
data_1687 = pd.read_csv("f.1687.tab",delimiter="\t")
data_1697 = pd.read_csv("f.1697.tab",delimiter="\t")
data_1707 = pd.read_csv("f.1707.tab",delimiter="\t")
data_1767 = pd.read_csv("f.1767.tab",delimiter="\t")
data_1777 = pd.read_csv("f.1777.tab",delimiter="\t")
data_1787 = pd.read_csv("f.1787.tab",delimiter="\t")

In [104]:
data_1677['f.1677.0.0'] = data_1677['f.1677.0.0'].replace(-1, np.NaN)
data_1677['f.1677.0.0'] = data_1677['f.1677.0.0'].replace(-3, np.NaN)
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x1677 = data_1677.iloc[:,1:2].values

x_nan['breastfedbaby'] = pd.DataFrame(x1677)
x_nan_d['breastfedbaby'] = pd.DataFrame(x1677)

imp.fit(x1677)
x1677 = imp.transform(x1677)

x_s_nan['breastfedbaby'] = pd.DataFrame(x1677)
x_s_nan_d['breastfedbaby'] = pd.DataFrame(x1677)

x_s['breastfedbaby'] = pd.DataFrame(x1677)
x_s_d['breastfedbaby'] = pd.DataFrame(x1677)

In [105]:
data_1687['f.1687.0.0'] = data_1687['f.1687.0.0'].replace(-1, np.NaN)
data_1687['f.1687.0.0'] = data_1687['f.1687.0.0'].replace(-3, np.NaN)
data_1687['f.1687.0.0'] = data_1687['f.1687.0.0'].replace([2,3], [3,2])
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x1687 = data_1687.iloc[:,1:2].values

x_nan['bodysizeat10'] = pd.DataFrame(x1687)
x_nan_d['bodysizeat10'] = pd.DataFrame(x1687)

imp.fit(x1687)
x1687 = imp.transform(x1687)

x_s_nan['bodysizeat10'] = pd.DataFrame(x1687)
x_s_nan_d['bodysizeat10'] = pd.DataFrame(x1687)

x_s['bodysizeat10'] = pd.DataFrame(x1687)
x_s_d['bodysizeat10'] = pd.DataFrame(x1687)

In [106]:
data_1697['f.1697.0.0'] = data_1697['f.1697.0.0'].replace(-1, np.NaN)
data_1697['f.1697.0.0'] = data_1697['f.1697.0.0'].replace(-3, np.NaN)
data_1697['f.1697.0.0'] = data_1697['f.1697.0.0'].replace([2,3], [3,2])
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x1697 = data_1697.iloc[:,1:2].values

x_nan['bodyheightat10'] = pd.DataFrame(x1697)
x_nan_d['bodyheightat10'] = pd.DataFrame(x1697)

imp.fit(x1697)
x1697 = imp.transform(x1697)

x_s['bodyheightat10'] = pd.DataFrame(x1697)
x_s_d['bodyheightat10'] = pd.DataFrame(x1697)

x_s_nan['bodyheightat10'] = pd.DataFrame(x1697)
x_s_nan_d['bodyheightat10'] = pd.DataFrame(x1697)

In [107]:
data_1767['f.1767.0.0']=data_1767['f.1767.0.0'].replace(-1, np.NaN)
data_1767['f.1767.0.0']=data_1767['f.1767.0.0'].replace(-3, np.NaN)
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x1767 = data_1767.iloc[:,1:2].values

x_nan['adoptedaschild'] = pd.DataFrame(x1767)
x_nan_d['adoptedaschild'] = pd.DataFrame(x1767)

imp.fit(x1767)
x1767 = imp.transform(x1767)

x_s['adoptedaschild'] = pd.DataFrame(x1767)
x_s_d['adoptedaschild'] = pd.DataFrame(x1767)

x_s_nan['adoptedaschild'] = pd.DataFrame(x1767)
x_s_nan_d['adoptedaschild'] = pd.DataFrame(x1767)

In [108]:
data_1777['f.1777.0.0'] = data_1777['f.1777.0.0'].replace(-1, np.NaN)
data_1777['f.1777.0.0'] = data_1777['f.1777.0.0'].replace(-3, np.NaN)
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x1777 = data_1777.iloc[:,1:2].values

x_nan['partmultiplebirth'] = pd.DataFrame(x1777)
x_nan_d['partmultiplebirth'] = pd.DataFrame(x1777)

imp.fit(x1777)
x1777 = imp.transform(x1777)

x_s['partmultiplebirth'] = pd.DataFrame(x1777)
x_s_d['partmultiplebirth'] = pd.DataFrame(x1777)

x_s_nan['partmultiplebirth'] = pd.DataFrame(x1777)
x_s_nan_d['partmultiplebirth'] = pd.DataFrame(x1777)

In [109]:
data_1787['f.1787.0.0'] = data_1787['f.1787.0.0'].replace(-1, np.NaN)
data_1787['f.1787.0.0'] = data_1787['f.1787.0.0'].replace(-3, np.NaN)
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x1787 = data_1787.iloc[:,1:2].values

x_nan['maternalsmoking'] = pd.DataFrame(x1787)
x_nan_d['maternalsmoking'] = pd.DataFrame(x1787)

imp.fit(x1787)
x1787 = imp.transform(x1787)

x_s['maternalsmoking'] = pd.DataFrame(x1787)
x_s_d['maternalsmoking'] = pd.DataFrame(x1787)

x_s_nan['maternalsmoking'] = pd.DataFrame(x1787)
x_s_nan_d['maternalsmoking'] = pd.DataFrame(x1787)

In [110]:
data_1707['f.1707.0.0'] = data_1707['f.1707.0.0'].replace(-3, np.NaN)
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x1707 = data_1707.iloc[:,1:2].values
x_nan['handedness'] = pd.DataFrame(x1707)

imp.fit(x1707)
x1707 = imp.transform(x1707)
x1707 = pd.DataFrame(x1707)

x_s['handedness'] = pd.DataFrame(x1707[0])
x_s_nan['handedness'] = pd.DataFrame(x1707[0])

In [111]:
dummy1707 = pd.get_dummies(x1707[0])
x1707 = pd.concat([x1707,dummy1707], axis = 1)
del x1707[0]

In [112]:
var_x1707 = {1.0: 'righthand',
             2.0: 'lefthand',     
             3.0: 'rightlefthand'}     
x1707 = x1707.rename(columns = var_x1707)

In [113]:
x_nan_d = pd.concat([x_nan_d, x1707], axis=1)
x_s_d = pd.concat([x_s_d, x1707], axis=1)
x_s_nan_d = pd.concat([x_s_nan_d, x1707], axis=1)

In [114]:
########################################
# Early_life_factors_Traumatic_events #
#######################################

In [115]:
data_20491 = pd.read_csv("f.20491.tab",delimiter="\t")
data_20490 = pd.read_csv("f.20490.tab",delimiter="\t")
data_20489 = pd.read_csv("f.20489.tab",delimiter="\t")
data_20488 = pd.read_csv("f.20488.tab",delimiter="\t")
data_20487 = pd.read_csv("f.20487.tab",delimiter="\t")

In [116]:
Early_life_factors_Traumatic_events = [data_20491, data_20490, data_20489, data_20488, data_20487]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['someonetakedoctorchild', 'sexuallymolestedchild', 'feltlovedchild', 'physicallyabusedfamiliychild', 'felthatedfamiliychild']
count = -1
for data in Early_life_factors_Traumatic_events:
    count += 1
    x = data.iloc[:,1:2].values
    x = pd.DataFrame(x).replace(-818, np.NaN)
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

In [117]:
######################################
# Traumatic_events_Traumatic_events #
#####################################

In [118]:
data_20531 = pd.read_csv("f.20531.tab",delimiter="\t")
data_20530 = pd.read_csv("f.20530.tab",delimiter="\t")
data_20529 = pd.read_csv("f.20529.tab",delimiter="\t")
data_20526 = pd.read_csv("f.20526.tab",delimiter="\t")
data_20525 = pd.read_csv("f.20525.tab",delimiter="\t")
data_20524 = pd.read_csv("f.20524.tab",delimiter="\t")
data_20523 = pd.read_csv("f.20523.tab",delimiter="\t")
data_20522 = pd.read_csv("f.20522.tab",delimiter="\t")
data_20521 = pd.read_csv("f.20521.tab",delimiter="\t")

In [119]:
Early_life_factors_Traumatic_events = [data_20531, data_20530, data_20529, data_20526, data_20525, data_20524, data_20523, data_20522, data_20521]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['victimofsexualassault', 'witnessedsuddenviolentdeath', 'victimphysicallyviolentcrime', 'beenseriousaccidentlifethrea', 'abletopaymortgageadult', 'sexualinterferenceadult', 'physicalviolenceadult', 'beenconfidingrelationadult', 'belittlementbypartneradult']
count = -1
for data in Early_life_factors_Traumatic_events:
    count += 1
    x = data.iloc[:,1:2].values
    x = pd.DataFrame(x).replace(-818, np.NaN)
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

In [120]:
###################################
# Mental_health_Traumatic_events #
##################################

In [121]:
data_20498 = pd.read_csv("f.20498.tab",delimiter="\t")
data_20497 = pd.read_csv("f.20497.tab",delimiter="\t")
data_20495 = pd.read_csv("f.20495.tab",delimiter="\t")

In [122]:
Mental_health_Traumatic_events = [data_20530, data_20529, data_20526]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['upsetstressfulpastmonth', 'repeatedisturbingpastmonth', 'avoidstresspasthmonth']
count = -1
for data in Mental_health_Traumatic_events:
    count += 1
    x = data.iloc[:,1:2].values
    x = pd.DataFrame(x).replace(-818, np.NaN)
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)
    
    x_s_nan[col[count]] = pd.DataFrame(x)
    x_s_nan_d[col[count]] = pd.DataFrame(x)

In [123]:
#######################################
# Mental_health_Psychosocial_factors #
######################################

In [124]:
data_2040 = pd.read_csv("f.2040.tab",delimiter="\t")
data_2050 = pd.read_csv("f.2050.tab",delimiter="\t")
data_2090 = pd.read_csv("f.2090.tab",delimiter="\t")
data_2100= pd.read_csv("f.2100.tab",delimiter="\t")
data_4526 = pd.read_csv("f.4526.tab",delimiter="\t")
data_4598 = pd.read_csv("f.4598.tab",delimiter="\t")
data_4609 = pd.read_csv("f.4609.tab",delimiter="\t")
data_4620 = pd.read_csv("f.4620.tab",delimiter="\t")
data_20126 = pd.read_csv("f.20126.tab",delimiter="\t")
data_20127 = pd.read_csv("f.20127.tab",delimiter="\t")
data_4631 = pd.read_csv("f.4631.tab",delimiter="\t")
data_2080 = pd.read_csv("f.2080.tab",delimiter="\t")
data_2070 = pd.read_csv("f.2070.tab",delimiter="\t")
data_2060 = pd.read_csv("f.2060.tab",delimiter="\t")

In [125]:
Mental_health_Psychosocial_factors = [data_2040, data_2050, data_2090, data_2100, data_4526, data_4598, data_4609, data_4620, data_4631, data_2080, data_2070, data_2060]
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
col = ['risktaking', 'freqdepressed', 'seendoctordepress', 'seenpsychiatrist', 'happiness', 'everdepressed', 'perioddepress', 'numberdepressper', 'everdesinteresedweek', 'freqtiredness2weeks', 'freqtensenness2weeks', 'frequnenthusiasm2weeks']
count = -1
for data in Mental_health_Psychosocial_factors:
    count += 1
    x = data.iloc[:,1:2].values
    x = pd.DataFrame(x).replace([-818,-1], [np.NaN, np.NaN])
    
    x_nan[col[count]] = pd.DataFrame(x)
    x_nan_d[col[count]] = pd.DataFrame(x)
    
    imp.fit(x)
    x = imp.transform(x)
    
    x_s_nan_d[col[count]] = pd.DataFrame(x)
    x_s_nan[col[count]] = pd.DataFrame(x)
    
    x_s[col[count]] = pd.DataFrame(x)
    x_s_d[col[count]] = pd.DataFrame(x)

In [126]:
imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
data_20127 = pd.DataFrame(data_20127)
x20127 = data_20127.iloc[:,1:2].values
x20127 = pd.DataFrame(x20127).replace([-818,-1], [np.NaN, np.NaN])

x_nan['neuroticismscore'] = x20127
x_nan_d['neuroticismscore'] = x20127

x_s_nan['neuroticismscore'] = x20127
x_s_nan_d['neuroticismscore'] = x20127

imp.fit(x20127)
x20127 = imp.transform(x20127)
count=0
for x in x20127: x20127[count]=int(x);count+=1

x_s['neuroticismscore'] = x20127
x_s_d['neuroticismscore'] = x20127

In [127]:
imp = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
x20126 = data_20126.iloc[:,1:2].values
x20126 = pd.DataFrame(x20126).replace([-818,-1], [np.NaN, np.NaN])
x_nan['bipolarstatus'] = x20126
imp.fit(x20126)
x20126 = imp.transform(x20126)
x20126 = pd.DataFrame(x20126)

x_s['bipolarstatus'] = x20126[0]
x_s_nan['bipolarstatus'] = x20126[0]

In [128]:
dummy = pd.get_dummies(x20126[0])
x20126 = pd.concat([x20126,dummy], axis = 1)

In [129]:
x20126 = pd.DataFrame(x20126.iloc[:,1:].values)

In [130]:
var = {0: 'nobipolar',
       1: 'bipolarI',      
       2: 'bipolarII',
       3: 'recurentdepresionsevere',
       4: 'recurentdepresionmoderate',
       5: 'singledepresionepisode'}
x20126 = x20126.rename(columns = var)

In [131]:
x_nan_d = pd.concat([x_nan_d, x20126], axis=1)
x_s_d = pd.concat([x_s_d, x20126], axis=1)
x_s_nan_d = pd.concat([x_s_nan_d, x20126], axis=1)

In [132]:
# Sizes of the matrices

In [133]:
x_nan.shape

(502494, 129)

In [134]:
x_s.shape

(502494, 129)

In [135]:
x_s_nan.shape

(502494, 129)

In [136]:
x_nan_d.shape

(502494, 164)

In [137]:
x_s_d.shape

(502494, 164)

In [132]:
x_s_nan_d.shape

(502494, 164)

In [133]:
# Download the samples

In [134]:
x_nan.to_csv(r'x_nan.csv', index = False, header=True)
x_s.to_csv(r'x_s.csv', index = False, header=True)
x_s_nan.to_csv(r'x_s_nan.csv', index = False, header=True)
x_nan_d.to_csv(r'x_nan_d.csv', index = False, header=True)
x_s_d.to_csv(r'x_s_d.csv', index = False, header=True)
x_s_nan_d.to_csv(r'x_s_nan_d.csv', index = False, header=True)

In [136]:
x_nan

,f.eid,waistcircum,hipcircum,standingheight,bmi,weight,bodyfatpercent,wholebodyfatfreemass,wholebodywatermass,basalmetabolicrate,...,happiness,everdepressed,perioddepress,numberdepressper,everdesinteresedweek,freqtiredness2weeks,freqtensenness2weeks,frequnenthusiasm2weeks,neuroticismscore,bipolarstatus
0,6026563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000018,103.0,106.0,183.0,28.6363,95.9,26.6,NaN,51.5,8644.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,NaN,NaN
2,1000020,91.0,109.0,177.0,27.7698,87.0,26.5,NaN,46.9,7837.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN
3,1000034,93.0,102.0,163.0,28.7177,76.3,35.7,NaN,35.9,6121.0,...,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0,2.0,NaN
4,1000041,111.0,108.0,179.0,28.5572,91.5,22.1,NaN,52.2,8627.0,...,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502489,6026519,78.0,106.0,184.0,24.0725,81.5,35.5,NaN,39.5,6669.0,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,5.0,NaN
502490,6026524,83.0,101.0,180.0,23.6728,76.7,31.9,58.6,44.8,7322.0,...,3.0,0.0,NaN,NaN,0.0,1.0,1.0,1.0,6.0,0.0
502491,6026535,77.0,102.0,171.0,22.6736,66.3,36.4,NaN,35.2,5950.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,0.0,NaN
502492,6026540,86.0,111.0,172.0,29.2050,86.4,21.2,55.9,38.0,6636.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,7.0,NaN
502493,6026551,102.0,112.0,144.0,35.0116,72.6,15.5,NaN,27.2,4979.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0,10.0,NaN